---
title: Licensing
section: developers

alternate_platform_links:
  ios: faq/licensing
  android: faq/licensing
---

We offer flexible licensing options to accommodate customers and projects of all types and sizes. Our aim is to provide the best possible PDF solution on the market, along with a license specifically tailored to help you achieve your goals.

---

When you purchase a subscription license for PSPDFKit for Web, you are able to deploy a given number of installations of PSPDFKit Server, each with a given number of nodes forming the cluster. Each of these installations needs to be activated and is bound to a specific database instance.

Your subscription license allows you to embed PSPDFKit for Web on an agreed-upon list of domains. You can set up these domains in the <a href="https://customers.pspdfkit.com/" rel="nofollow">PSPDFKit Customer Portal</a>.

PSPDFKit for Web and PSPDFKit Server will verify that the `Origin` of the browser tab where it is
used matches the list of allowed domains for your license.

PSPDFKit Server regularly pings the PSPDFKit Licensing Service to verify its license and download updated license information.

PSPDFKit Server sends anonymous usage analytics to the PSPDFKit Licensing Service. These analytics help us in diagnosing issues and improving the product.

PSPDFKit for Web and PSPDFKit Server can be activated with a production or development key. Development mode does not restrict the allowed `Origin`.

If your license agreement differs from the above, then the language of that agreement is binding.

## Setting Up a Domain in Our Customer Portal

When setting up your license using the <a href="https://customers.pspdfkit.com/" rel="nofollow">PSPDFKit Customer Portal</a>, you will be asked to assign a web domain to activate your product.

Always make sure to use the exact domain (including any subdomains) your product is using. If your product runs on multiple domains — for example, `sales.internal.example.com` and `board.internal.example.com` at the same time — please [reach out to us][contact] so we can discuss a custom solution.

The easiest way to determine the domain that is required in our customer portal is to open the JavaScript console on the website that will run PSPDFKit for Web and execute the following code:

[==

```es
console.log(origin.location);
```

```js
console.log(origin.location);
```

==]

[contact]: https://support.pspdfkit.com/hc/en-us/requests/new
