---
title: Try the Demo
section: developers

order: 100
secret: true
alternate_platform_links:
  ios: getting-started/try-the-demo
  android: getting-started/try-the-demo
---

<div class="alert alert-warning hide-in-trial">
<p><strong>Note:</strong> This article is about testing out the PSPDFKit trial for evaluation purposes. If you don’t yet have a trial license, fill out the <a href="https://pspdfkit.com/try">trial form</a> to get one.</p>
</div>

Thank you for trying PSPDFKit for Web.

PSPDFKit for Web comes with two deployment options out of the box: server-backed and standalone. Based on the chosen deployment path, different setup steps need to be taken.

## Server-Backed Deployment

This setup offers performant rendering and enables archiving on S3, along with collaboration in your browser with [PSPDFKit Instant][].

- [Setting Up PSPDFKit Server][]
- [Integration][server-backed integration]

## Standalone Deployment

This setup is exclusively on the client side and allows you to work in contexts where no server is available.

- [Adding to Your Project][]
- [Integration][standalone integration]

[pspdfkit instant]: https://pspdfkit.com/instant
[setting up pspdfkit server]: ../../server-backed/setting-up-pspdfkit-server/
[server-backed integration]: ../../server-backed/integration/
[adding to your project]: ../../standalone/adding-to-your-project/
[standalone integration]: ../../standalone/integration/
