---
title: GDPR
priority: 0.25
---

<%= partial 'nav_sub' %>

<section class="section section-sm">
  <div class="container">

    <!-- Header -->
    <div class="row mb-4">
      <div class="col-12 text-center">
        <header>
          <h1>General Data Protection Regulation (GDPR)</h1>
        </header>
      </div>
    </div>

    <!-- Content -->
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="card">
          <div class="card-body">
            <p class="small text-muted text-right">
              Last updated: April 24, 2018
            </p>
            <%= partial "gdpr_raw" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
