---
title: Legal
---

<%= partial 'nav_sub' %>

<section class="section section-sm">
  <div class="container">

    <!-- Header -->
    <div class="row mb-4">
      <div class="col-12 text-center">
        <header>
          <h1>Impressum</h1>
          <ul class="nav nav-pills justify-content-center small">
            <li class="nav-item">
              <a class="nav-link nav-link-brand active" href="#english" data-toggle="pill">English</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-brand" href="#german" data-toggle="pill">German</a>
            </li>
          </ul>
        </header>
      </div>
    </div>

    <!-- Content -->
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="card small">
          <div class="card-body">

            <!-- Header -->
            <div class="row mb-4">
              <div class="col-6">
                <h5>PSPDFKit GmbH</h5>
              </div>
            </div>

            <!-- Content -->
            <div class="tab-content">

              <!-- English -->
              <div class="tab-pane active" id="english" role="tabpanel">
                <div class="row">
                  <div class="col-lg-7 mb-4 mb-lg-0">
                    <dl class="row mb-0">
                      <dt class="col-sm-5">Type:</dt>
                      <dd class="col-sm-7">Limited Liability Company</dd>

                      <dt class="col-sm-5">Address:</dt>
                      <dd class="col-sm-7">
                        Kaiserstrasse 117 / 17<br>
                        1070 Vienna, Austria
                       </dd>

                      <dt class="col-sm-5">Email:</dt>
                      <dd class="col-sm-7">
                        <a href="mailto:legal@pspdfkit.com">legal@pspdfkit.com</a>
                      </dd>

                      <dt class="col-sm-5">Managing Director:</dt>
                      <dd class="col-sm-7">Peter Steinberger</dd>

                      <dt class="col-sm-5">Line of Business:</dt>
                      <dd class="col-sm-7">Software Development</dd>

                      <dt class="col-sm-5">Registration Number:</dt>
                      <dd class="col-sm-7">FN 400890 w</dd>

                      <dt class="col-sm-5">VAT:</dt>
                      <dd class="col-sm-7">ATU68169117</dd>

                      <dt class="col-sm-5">DVR:</dt>
                      <dd class="col-sm-7">4016393</dd>

                      <dt class="col-sm-5">EORI:</dt>
                      <dd class="col-sm-7">ATEOS1000069785</dd>

                      <dt class="col-sm-5">DUNS:</dt>
                      <dd class="col-sm-7">300399949</dd>

                      <dt class="col-sm-5">Place of Jurisdiction:</dt>
                      <dd class="col-sm-7">Commercial Court of Vienna</dd>

                      <dt class="col-sm-5">Trade Regulation Act:</dt>
                      <dd class="col-sm-7"><a href="http://www.ris.bka.gv.at/defaultEn.aspx">www.ris.bka.gv.at</a></dd>

                      <dt class="col-sm-5">Membership:</dt>
                      <dd class="col-sm-7">Member of the Austrian Federal Economic Chamber, Vienna</dd>
                    </dl>
                  </div>
                  <div class="col-lg-5">
                    <h5>Bank Details</h5>
                    <p>
                      UniCredit Bank Austria AG<br />
                      Schottengasse 6-8<br />
                      1010 Vienna, Austria <br>
                    </p>
                    <dl class="row">
                      <dt class="col-sm-5">SWIFT/BIC:</dt>
                      <dd class="col-sm-7">BKAUATWW</dd>

                      <dt class="col-sm-5">IBAN:</dt>
                      <dd class="col-sm-7">AT351200050264****** (<a href="mailto:sales@pspdfkit.com">Email</a> to request details)</dd>

                      <dt class="col-sm-5">Account Number:</dt>
                      <dd class="col-sm-7">50264******</dd>

                      <dt class="col-sm-5">Bank Code:</dt>
                      <dd class="col-sm-7">12000</dd>
                    </dl>
                    <hr />
                    <p class="small text-muted">
                      Apple, the Apple logo, iPad, iPhone, and iPod touch are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc. Google Play and Android are trademarks of Google Inc.
                    </p>
                  </div>
                </div>
              </div>

              <!-- German -->
              <div class="tab-pane" id="german" role="tabpanel">
                <div class="row">
                  <div class="col-lg-7 mb-4 mb-lg-0">
                    <dl class="row mb-0">
                      <dt class="col-sm-5">Type:</dt>
                      <dd class="col-sm-7">Gesellschaft mit beschränkter Haftung</dd>

                      <dt class="col-sm-5">Address:</dt>
                      <dd class="col-sm-7">
                        Kaiserstrasse 117 / 17<br>
                        1070 Vienna, Austria
                       </dd>

                      <dt class="col-sm-5">Email:</dt>
                      <dd class="col-sm-7">
                        <a href="mailto:legal@pspdfkit.com">legal@pspdfkit.com</a>
                      </dd>

                      <dt class="col-sm-5">Geschäftsführer:</dt>
                      <dd class="col-sm-7">Peter Steinberger</dd>

                      <dt class="col-sm-5">Unternehmensgegenstand:</dt>
                      <dd class="col-sm-7">Software Entwicklung</dd>

                      <dt class="col-sm-5">Firmenbuchnummer:</dt>
                      <dd class="col-sm-7">FN 400890 w</dd>

                      <dt class="col-sm-5">VAT:</dt>
                      <dd class="col-sm-7">ATU68169117</dd>

                      <dt class="col-sm-5">DVR:</dt>
                      <dd class="col-sm-7">4016393</dd>

                      <dt class="col-sm-5">EORI:</dt>
                      <dd class="col-sm-7">ATEOS1000069785</dd>

                      <dt class="col-sm-5">DUNS:</dt>
                      <dd class="col-sm-7">300399949</dd>

                      <dt class="col-sm-5">Gerichtsstand:</dt>
                      <dd class="col-sm-7">Handelsgericht Wien</dd>

                      <dt class="col-sm-5">Gewerbeordnung:</dt>
                      <dd class="col-sm-7"><a href="http://www.ris.bka.gv.at">www.ris.bka.gv.at</a></dd>

                      <dt class="col-sm-5">Membership:</dt>
                      <dd class="col-sm-7">Member of the Austrian Federal Economic Chamber, Vienna</dd>
                    </dl>
                  </div>
                  <div class="col-lg-5">
                    <h5>Bankverbindung</h5>
                    <p>
                      UniCredit Bank Austria AG<br />
                      Schottengasse 6-8<br />
                      1010 Vienna, Austria <br>
                    </p>
                    <dl class="row">
                      <dt class="col-sm-5">SWIFT/BIC:</dt>
                      <dd class="col-sm-7">BKAUATWW</dd>

                      <dt class="col-sm-5">IBAN:</dt>
                      <dd class="col-sm-7">AT351200050264****** (<a href="mailto:sales@pspdfkit.com">Email</a> für Details)</dd>

                      <dt class="col-sm-5">Kontonummer:</dt>
                      <dd class="col-sm-7">50264******</dd>

                      <dt class="col-sm-5">Bankleitzahl:</dt>
                      <dd class="col-sm-7">12000</dd>
                    </dl>
                    <hr />
                    <p class="small text-muted">
                      Apple, das Apple Logo, iPad, iPhone, und iPod touch sind Marken der Apple Inc., registriert in den Vereinigten Staaten und anderen Ländern. Der App Store ist ein Service von Apple Inc. Google Play und Android sind Marken der Google Inc.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
