---
title: Terms and Conditions
priority: 0.25
---

<%= partial 'nav_sub' %>

<section class="section section-sm">
  <div class="container">

    <!-- Header -->
    <div class="row mb-4">
      <div class="col-12 text-center">
        <header>
          <h1>Terms and Conditions</h1>
          <p class="mb-0">
            PSPDFKit General Terms and Conditions for Software Support Services
          </p>
        </header>
      </div>
    </div>

    <!-- Content -->
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="card">
          <div class="card-body">
            <p class="small text-muted text-right">
              Last updated: Oct 6, 2019
            </p>
            <%= partial "terms_raw" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
