<section class="pb-5">
  <hr class="my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="row flex-md-row-reverse align-items-center justify-content-center">
          <div class="col-lg-6 ml-auto mb-4 mb-lg-0 text-lg-right">
            <i class="fa fa-xxl fa-chrome mr-4"></i>
            <i class="fa fa-xxl fa-firefox mr-4"></i>
            <i class="fa fa-xxl fa-safari mr-4"></i>
            <i class="fa fa-xxl fa-edge"></i>
          </div>
          <div class="col-lg-5">
            <h3><%= title %></h3>
            <p class="mb-0"><%= body %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
