<section id="frameworks" class="section">
  <div class="container">
    <div class="text-center mb-3">
      <h3 class="h6 text-muted"><%= title %></h3>
    </div>
    <div class="d-flex flex-wrap justify-content-center align-items-center grayscale op-7">
      <img src="/images/shared/placeholder.gif" data-src="/images/logos/react.svg" alt="React PDF Viewer" width="150" class="m-3 lazyload" loading="lazy">
      <img src="/images/shared/placeholder.gif" data-src="/images/logos/angular.svg" alt="Angular PDF Viewer" width="150" class="m-3 lazyload" loading="lazy">
      <img src="/images/shared/placeholder.gif" data-src="/images/logos/jquery.svg" alt="jQuery PDF Viewer" width="135" class="m-3 lazyload" loading="lazy">
      <img src="/images/shared/placeholder.gif" data-src="/images/logos/ember.svg" alt="Ember PDF Viewer" width="140" class="m-3 lazyload" loading="lazy" style="margin-top: -5px !important;">
      <img src="/images/shared/placeholder.gif" data-src="/images/logos/vue.svg" alt="Vue PDF Viewer" width="145" class="m-3 lazyload" loading="lazy">
      <img src="/images/shared/placeholder.gif" data-src="/images/logos/backbone.svg" alt="Backbone PDF Viewer" width="155" class="m-3 lazyload" loading="lazy">
    </div>
  </div>
</section>
