<section id="features" class="section bg-brand pb-0 mb-0">
  <div class="container">
    <header class="text-center text-white mt-4 mb-4 pb-2">
      <h2><%= title %></h2>
      <p class="lead"><%= body %></p>
    </header>
    <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/web/ui.png" class="img-fluid lazyload" loading="lazy">
  </div>
</section>
