<section id="architecture" class="section bg-neutral-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <header class="text-center">
          <h6 class="text-brand"><%= subtitle %></h6>
          <h2><%= title %></h2>
        </header>
        <p class="mb-5"><%= body %></p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <header>
          <h3 class="h5">PSPDFKit Server</h3>
        </header>
        <p class="small">
          The server is delivered in a Docker container and provides a JSON-based API for easy
          integration with your existing infrastructure. It handles syncing documents and
          annotations automatically.
        </p>
      </div>
      <div class="col-md-6 col-lg-5">
        <header>
          <h3 class="h5">PSPDFKit Instant Frameworks</h3>
        </header>
        <p class="small">
          The frameworks for iOS, Android, and web connect your app to PSPDFKit Server. Enabling
          Instant is a simple matter of adding the framework to your app.
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5 mb-3 mb-md-0">
        <p class="small text-muted mb-2">
          Host on-premises or in the cloud:
        </p>
        <p class="mb-0 d-flex flex-nowrap">
          <a href="https://www.docker.com/" class="link-img mr-3" data-toggle="tooltip" title="Docker">
            <img src="/images/shared/placeholder.gif" data-src="/images/logos/docker-gray.svg" alt="Docker" height="30" class="lazyload" loading="lazy">
          </a>
          <a href="https://cloud.google.com/" class="link-img mr-3" data-toggle="tooltip" title="Google Cloud Platform">
            <img src="/images/shared/placeholder.gif" data-src="/images/logos/gcp-gray.svg" alt="Google Cloud Platform" width="35" class="lazyload" loading="lazy">
          </a>
          <a href="https://azure.microsoft.com/" class="link-img mr-3" data-toggle="tooltip" title="Microsoft Azure">
            <img src="/images/shared/placeholder.gif" data-src="/images/logos/windows-gray.svg" alt="Microsoft Azure" height="28" class="lazyload" loading="lazy">
          </a>
          <a href="https://aws.amazon.com/" class="link-img" data-toggle="tooltip" title="Amazon AWS">
            <img src="/images/shared/placeholder.gif" data-src="/images/logos/aws-gray.svg" alt="Amazon Web Services" height="28" class="lazyload" loading="lazy">
          </a>
        </p>
      </div>
      <div class="col-md-6 col-lg-5">
        <p class="small text-muted mb-2">
          Supported platforms:
        </p>
        <p class="mb-0">
          <i class="fa fa-xl fa-android mr-3"></i>
          <i class="fa fa-xl fa-ios mr-3"></i>
          <i class="fa fa-xl fa-web"></i>
        </p>
      </div>
    </div>
  </div>
</section>
