<section class="section mt-0 pt-0">
  <hr class="my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <h3><%= title %></h3>
        <p class="medium"><%= body %></p>
      </div>
      <div class="col-lg-3">
        <ul class="medium fa-ul mb-0">
          <li class="mb-2">
            <i class="fa-li fa fa-check text-brand"></i>
            Signing documents
          </li>
          <li class="mb-2">
            <i class="fa-li fa fa-check text-brand"></i>
            Page creation and organization
          </li>
          <li class="mb-2">
            <i class="fa-li fa fa-check text-brand"></i>
            Document and page actions
          </li>
          <li class="mb-2">
            <i class="fa-li fa fa-check text-brand"></i>
            Watermarking
          </li>
          <li class="mb-2">
            <i class="fa-li fa fa-check text-brand"></i>
            Toolbar customization
          </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <ul class="medium fa-ul mb-0">
          <li class="mb-2">
            <i class="fa-li fa fa-check text-brand"></i>
            Full-text search
          </li>
          <li class="mb-2">
            <i class="fa-li fa fa-check text-brand"></i>
            Importing/exporting annotations
          </li>
          <li class="mb-2">
            <i class="fa-li fa fa-check text-brand"></i>
            Bookmarks and outlines
          </li>
          <li class="mb-2">
            <i class="fa-li fa fa-check text-brand"></i>
            Batch processing of documents
          </li>
          <li class="mb-2">
            <i class="fa-li fa fa-check text-brand"></i>
            Model API
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
