<section id="architecture" class="section bg-neutral-dark">
  <div class="container">
    <header class="text-center mt-4 mb-5">
      <h2><%= title %></h2>
    </header>
    <div class="row flex-row-reverse justify-content-center align-items-center">
      <div class="col-lg-8 mb-5">
        <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/windows/architecture.svg" alt="" class="img-fluid lazyload" loading="lazy">
      </div>
      <div class="col-lg-4">
        <h3><%= subtitle %></h3>
        <p><%= body %></p>
      </div>
    </div>
  </div>
</section>
