<section id="integration" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <header class="text-center">
          <h2><%= title %></h2>
          <p class="lead"><%= body %></p>
        </header>
        <ul class="nav nav-pills justify-content-center mb-5">
          <li class="nav-item">
            <a class="nav-link nav-link-brand active" data-toggle="pill" href="#tab-basic">
              Basic Integration
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-brand" data-toggle="pill" href="#tab-advanced">
              Advanced Integration
            </a>
          </li>
        </ul>
        <div class="card card-lg mb-4">
          <div class="card-body bg-light p-0">
            <div class="tab-content">
              <div class="tab-pane active" id="tab-basic">
                <%= partial 'pdf-sdk/windows/shared/example_basic.md' %>
              </div>
              <div class="tab-pane" id="tab-advanced">
                <%= partial 'pdf-sdk/windows/shared/example_advanced.md' %>
              </div>
            </div>
          </div>
        </div>
        <p class="text-center mb-5">
          Check out our <a href="/guides/windows" class="link-brand">Guides</a> and
          <a href="/api/windows" class="link-brand">API docs</a> for more examples.
        </p>
        <div class="row text-center text-lg-left">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <p class="medium">
              <strong>
                Compatibility:
              </strong>
            </p>
            <p>
              <a href="https://www.microsoft.com/en-gb/windows/get-windows-10">
                <img src="/images/shared/placeholder.gif" data-src="/images/logos/windows-10.svg" alt="Windows 10" width="160" class="lazyload" loading="lazy">
              </a>
            </p>
            <p>
              <a href="https://www.microsoft.com/en-gb/cloud-platform/windows-server">
                <img src="/images/shared/placeholder.gif" data-src="/images/logos/windows-server-2016.svg" alt="Windows Server 2016" width="260" class="lazyload" loading="lazy">
              </a>
            </p>
            <p class="small text-muted mb-0">
              Works with Universal Windows Platform (UWP) and C# apps, supporting both desktop
              computers and Microsoft Surface devices (x86/x64). Applications can be submitted to the Windows Store.<br><br>
              For compatibility with Windows Vista/7/8/8.1, consider using <a href="/guides/windows/current/other-languages/cef-chromiumembeddedframework/"> PSPDFKit for Web Standalone with the Chromium Embedded Framework</a> instead.
            </p>
          </div>
          <div class="col-lg-6">
            <p class="medium">
              <strong>
                Requirements:
              </strong>
            </p>
            <p>
              <a href="https://www.visualstudio.com/">
                <img src="/images/shared/placeholder.gif" data-src="/images/logos/visual-studio.svg" alt="Visual Studio" width="180" class="lazyload" loading="lazy">
              </a>
            </p>
            <p class="small text-muted mb-0">
              Packaged as a Windows Runtime Component for Visual Studio 2017.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
