<section id="features" class="section bg-brand-darker pb-0">
  <div class="container">
    <header class="text-center text-white mt-4 mb-5">
      <h2><%= title %></h2>
      <p class="lead"><%= body %></p>
    </header>
    <img src="/images/pdf-sdk/windows/ui.png" class="img-fluid">
  </div>
</section>
