---
title: Adding to Your Project
section: developers

order: 2
alternate_platform_links:
  ios: getting-started/integrating-pspdfkit
  android: getting-started/integrating-pspdfkit
  macos: getting-started/integrating-pspdfkit
---

This guide will walk you through adding PSPDFKit for Web to your project for standalone deployment.

**Accessing license information — for evaluation**

After [requesting an evaluation license][pspdfkit trial], follow the PSPDFKit for Web trial link in the email you received. This will automatically fill in the license information in the following examples on this page.

**Accessing license information — for existing customers**

1.  In your web browser, log in to https://customers.pspdfkit.com and navigate to the Your Licenses & Keys page.
2.  Locate your PSPDFKit for Web license and click Download PSPDFKit for Web to see all the download options.
3.  Depending on how you want to install the package, follow the instructions from either the [Manual Download](#manual-download) or [Install with npm](#install-with-npm) sections below.

### Manual Download

If you want to add PSPDFKit for Web manually,
<span class="hide-in-trial">select the Download tab in the download dialog of the al and click on the download button.</span>
<span class="show-in-trial force-replace-tokens "><a href="https://customers.pspdfkit.com/download/YOUR_NPM_KEY_GOES_HERE">**Download the framework here**</a>.</span>

The download will start immediately and will save a zip archive like `PSPDFKit-Web-binary-2017.9.0.zip` to your computer.

Once the download is complete, extract the archive and copy the **entire** contents of its `dist` folder to your project’s folder.

### Install with npm

PSPDFKit for Web can also be installed via npm. This will add a `dependency` with the name `pspdfkit` to your application’s `package.json`.

#### Always Use the Latest Release:

[==

```yarn
yarn add pspdfkit
```

```npm
npm install --save pspdfkit
```

==]

#### Pinning to a Specific Version (e.g. 2018.2.0):

[==

```yarn
yarn add pspdfkit@2018.2.0
```

```npm
npm install --save pspdfkit@2018.2.0
```

==]

## Copy the PSPDFKit for Web Assets

In order for PSPDFKit for Web to work, you will need to copy the directory containing all the required library files (artifacts) to your project folder and serve them from within the same folder of your application module that requires `pspdfkit`.

For example, let’s assume that `pspdfkit` is required in the main application file, `src/index.js`:

[==

```es
// src/index.js
import PSPDFKit from "pspdfkit";

PSPDFKit.load({});
```

```js
// src/index.js
var PSPDFKit = require("pspdfkit");

PSPDFKit.load({});
```

==]

The application is built into a `./dist` folder, so the directory containing the PSPDFKit for Web artifacts must be copied to the same `dist` folder:

```shell
cp -R ./node_modules/pspdfkit/dist/pspdfkit-lib ./dist
ls ./dist  # -> index.js pspdfkit-lib/
```

We highly recommend using a tool or module bundler like webpack to automate this process.

Using Angular? [See here for information on integration][integrate with angular].

Next Up: [Integrating PSPDFKit for Web][integrating]

In fact, you may want to check out our [sample application built with webpack].

[sample application built with webpack]: ../../pspdfkit-for-web/example-projects/
[integrate with angular]: ../../pspdfkit-for-web/troubleshooting#copying-the-pspdfkit-for-web-assets-in-angular
[integrating]: ../../standalone/integration
