---
title: Getting Started
section: developers

order: 2
---

## Requirements

- **PSPDFKit for iOS with Instant**

    PSPDFKit and Instant are two separate dynamic frameworks available in the same download. <span class="hide-in-trial">Download the latest release from [customers.pspdfkit.com][] or for evaluation purposes fill out the <a href="https://pspdfkit.com/try">trial form</a>.</span><span class="show-in-trial force-replace-tokens ">Download <a href="https://customers.pspdfkit.com/download/YOUR_COCOAPODS_KEY_GOES_HERE">the latest release</a>, or use CocoaPods (see the integration section below).</span>

- **A PSPDFKit Server instance**

    See the [Example Projects guide][] to get an instance up and running.

- **The latest stable Xcode**

    PSPDFKit and Instant usually require the latest stable version of [Xcode][] available at the time the release was made.

## Quick Start With the Example Project

Instant comes with an example iOS project in the `Examples` folder, which connects to either of our example server apps.

1. Run PSPDFKit Server locally using one of our [Example Projects][Example Projects guide].
1. In a web browser, log in to the example app with the same user ID the iOS app uses in `AppDelegate.swift`, which by default is ‘test’.
1. Add a document to the server using the ‘Upload PDF’ button.
1. Select the document to view it with PSPDFKit for Web.
1. Open `Instant-iOS-Example.xcodeproj`
1. Build and run the Instant-iOS-Example scheme on the iOS Simulator. After launching the app should load the document list from the server.
1. Tap the document in the app to download it and show it in a `PSPDFInstantViewController`.
1. Add annotations in the iOS app or in the browser to see annotation syncing.

### Troubleshooting

If `Instant-iOS-Example` does not build, make sure you are using the latest stable version of Xcode version, and expand the `Frameworks` group in the Project Navigator and check that `PSPDFKit.framework`, `PSPDFKitUI.framework` and `Instant.framework` are black rather than red, which would mean the framework is missing. If the app runs but no documents appear make sure the `serverURL` and user ID in `AppDelegate.swift` and the server is running and the server is reachable from the device.

To run on an iOS device rather than the Simulator, set the `serverURL` in `Instant-iOS-Example/AppDelegate.swift` to an absolute URL that the server can be reached at. This is your Mac’s local IP address, which you can see by option-clicking the Wi-Fi icon in the macOS menu bar.

## Integrating the Instant Framework

If you’re already using CocoaPods, the the simplest way to add PSPDFKit and Instant to your project is to add the following to your `Podfile`, then run `pod install`:

```ruby
use_frameworks!

target :YourTargetName do
  pod 'PSPDFKit', podspec: 'https://customers.pspdfkit.com/cocoapods/YOUR_COCOAPODS_KEY_GOES_HERE/pspdfkit/latest.podspec'
  pod 'Instant', podspec: 'https://customers.pspdfkit.com/cocoapods/YOUR_COCOAPODS_KEY_GOES_HERE/instant/latest.podspec'
end
```

Otherwise follow the steps below for manual integration:

1. [Integrate PSPDFKit][Integrating PSPDFKit]

1. Drag `Instant.framework` into the `Embedded Binaries` section of your target

1. (Optional but recommended for production) You may want to copy debug symbols for debugging and crash reporting: add `Instant.framework.dSYM` to your Xcode project (do not add it to any targets - just add it to the tree) and add this as an input file to the `Run Script Phase` that runs `strip-framework.sh` added when integrating PSPDFKit. The script will copy the debug symbols into the products directory and strip it from unneeded architectures.

[customers.pspdfkit.com]: https://customers.pspdfkit.com
[Integrating PSPDFKit]: ../../getting-started/integrating-pspdfkit
[Example Projects guide]: /guides/server/current/pspdfkit-server/example-projects
[PSPDFKit Getting Started]: /guides/server/current/deployment/getting-started/
[Ruby on Rails example]: https://github.com/pspdfkit/pspdfkit-server-example-rails
[Node.js example]: https://github.com/pspdfkit/pspdfkit-server-example-nodejs
[Xcode]: https://developer.apple.com/xcode/
[App Store submission bug]: http://www.openradar.me/radar?id=6409498411401216
