<section class="section bg-neutral-dark mb-0">
  <div class="container">
    <div class="row">
      <% items.each do |item| %>
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="d-flex align-items-start">
            <img src="<%= item[:icon] %>" width="75" height="75">
            <div class="ml-4">
              <h2 class="h5 mt-0"><%= item[:title] %></h2>
              <p class="medium mb-0"><%= item[:body] %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
