.badge {
  font-family: $font-family-medium;
}

.badge-inline {
  margin-left: 5px;
  transform: translateY(-3px);
}

.badge-secondary {
  color: $gray-700;
  background: $gray-300;
}

.badge-circle {
  padding: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 100%;
}
