// Custom Canal subsets made with https://github.com/filamentgroup/glyphhanger
// `glyphhanger --formats=woff2,woff --subset=*.ttf --LATIN --whitelist=ÁáÄäĆćČčÍíÓóÖöŠšßÜü`
@font-face {
  font-family: "Canal Bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/canal/Canal-Bold-subset.woff2") format("woff2"),
    url("../fonts/canal/Canal-Bold-subset.woff") format("woff");
}
@font-face {
  font-family: "Canal Book";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/canal/Canal-Book-subset.woff2") format("woff2"),
    url("../fonts/canal/Canal-Book-subset.woff") format("woff");
}
@font-face {
  font-family: "Canal Medium";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/canal/Canal-Medium-subset.woff2") format("woff2"),
    url("../fonts/canal/Canal-Medium-subset.woff") format("woff");
}
