.footer {
  background: $gray-800;
  padding-top: ($spacer * 4);
}

.footer-title {
  font-size: 0.8rem;
  margin-bottom: $spacer;
  color: $gray-600;
}

.footer-nav {
  font-size: 0.9rem;
  line-height: 2;

  a {
    color: $gray-600;
    text-decoration: none;

    @include hover-focus {
      color: $white;
    }
  }
}

.footer-copyright {
  color: $gray-700;
  font-size: 0.8rem;
}
