.form-control {
  min-height: $input-height;
  font-family: $font-family-sans-serif;

  &::placeholder {
    color: $input-placeholder-color;
  }
}

.form-control-label {
  font-family: $font-family-medium;
}

.form-group.required .form-control-label:after {
  content: '*';
  color: rgba(theme-color('danger'), 0.8);
}

.form-check-inline {
  margin-left: 0;
  margin-right: 0.75rem;

  + .form-check-inline {
    margin-left: 0;
  }

  .form-check-label {
    margin-right: 1rem;
  }
}

.form-check {
  margin-bottom: 0.5rem;
}

// Hide the reCAPTCHA badge. This is allowed in the terms as we show the
// reCAPTCHA branding message on all relevant forms:
// https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed
.grecaptcha-badge {
  visibility: hidden;
}
