.hero {
  min-height: 680px;
  background-repeat: no-repeat;
  position: relative;

  @include media-breakpoint-up(md) {
    // Minus nav-bar height
    height: calc(100vh - 62px);

    // Minus nav-bar and nav-sub height
    .nav-sub ~ & {
      height: calc(100vh - 132px);
    }
  }

  @include media-breakpoint-up(lg) {
    // Avoid growing too large
    max-height: 800px;

    .nav-sub ~ & {
      max-height: 720px;
    }
  }
}

.hero > .container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-home {
  color: $white;
  overflow: hidden; // ie11
  background: linear-gradient(
      130deg,
      rgba(84, 242, 252, 0.1) 6%,
      rgba(55, 76, 188, 0.1) 93%
    ),
    #3d73d3;

  .hero-body {
    @include media-breakpoint-up(md) {
      height: 100%;

      .container {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .hero-img {
    @include media-breakpoint-up(md) {
      width: 1440px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 55%;
      background-image: url("/images/home/device-collage.png");
      background-position: 100% 50%;
      background-size: 900px;
      background-repeat: no-repeat;
      transform: translateX(-50%);
    }

    @include media-breakpoint-up(xl) {
      left: 50%;
    }
  }

  .hero-carousel {
    margin-bottom: -70px;

    .carousel-items {
      min-height: 380px;
    }
  }

  .hero-footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      180deg,
      rgba(61, 115, 211, 0.75) 0%,
      #3d73d3 100%
    );
    backdrop-filter: blur(24px);
    position: absolute;
    height: 80px;
  }
}

.hero-sdk {
  background-image: url("/images/pdf-sdk/hero.svg");
  background-position: 50% 60%;
  background-size: 850px;

  @include media-breakpoint-up(sm) {
    background-position: 50% 80%;
    background-size: 1300px 100%;
  }

  @include media-breakpoint-up(lg) {
    background-position: 50% 100px;
    height: 760px;
  }

  > .container {
    flex-direction: column;
    justify-content: space-between;
    padding: 5vh 15px;
  }
}

.hero-sdk-android {
  background-image: url("/images/pdf-sdk/android/hero.svg");
  background-position: 50% 0;
  background-size: contain;

  @include media-breakpoint-up(sm) {
    background-size: 65%;
  }

  @include media-breakpoint-up(lg) {
    background-position: 42vw 20%;
    background-size: 680px;
  }

  @include media-breakpoint-up(xl) {
    background-size: 850px 100%;
  }
}

.hero-sdk-ios {
  background-image: url("/images/pdf-sdk/ios/hero.svg");
  background-position: 50% 0;
  background-size: contain;

  @include media-breakpoint-up(sm) {
    background-size: 65%;
  }

  @include media-breakpoint-up(lg) {
    background-position: 42vw 20%;
    background-size: 680px;
  }

  @include media-breakpoint-up(xl) {
    background-size: 850px 100%;
  }
}

.hero-sdk-macos {
  background-image: url("/images/pdf-sdk/macos/hero.svg");
  background-position: 50% 0;
  background-size: contain;

  @include media-breakpoint-up(sm) {
    background-size: 85%;
  }

  @include media-breakpoint-up(lg) {
    background-position: 42vw 20%;
    background-size: 850px;
  }

  @include media-breakpoint-up(xl) {
    background-size: 950px 100%;
  }
}

.hero-sdk-windows {
  background-image: url("/images/pdf-sdk/windows/hero.png");
  background-position: 50% 10%;
  background-size: contain;

  @include media-breakpoint-up(lg) {
    background-position: 45vw 40%;
    background-size: 950px;
  }
}

.hero-instant {
  background-image: url("/images/instant/hero.svg");
  background-position: 50% 0;
  background-size: 130%;

  @include media-breakpoint-up(sm) {
    background-size: 115%;
  }

  @include media-breakpoint-up(lg) {
    background-position: 24vw 40%;
    background-size: 1000px;
  }

  @include media-breakpoint-up(xl) {
    height: 840px !important;
    background-position: 32vw 80%;
    background-size: 1200px 100%;

    .container {
      height: 80%;
    }
  }
}
