// Custom IcoMoon from https://icomoon.io/
// See assets/fonts/icomoon/selection.json to rebuild.
//
// Extended with custom icons:
// https://www.figma.com/file/fWb07zniYBDcwMnaQ7fCCM1N/Website-Icon-Font
@font-face {
  font-family: $font-family-icons;
  font-display: fallback;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/icomoon/icomoon.woff") format("woff");
}

.fa {
  font-family: $font-family-icons;
  font-size: $font-size-base;
  line-height: 1;
  vertical-align: -10%;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-block;

  // Better font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-lg {
  font-size: 24px;
  vertical-align: -20%;
}

.fa-xl {
  font-size: ($font-size-base * 2);
}

.fa-xxl {
  font-size: ($font-size-base * 4);
}

.fa-ul {
  padding-left: 0;
  margin-left: 1.5em;
  list-style-type: none;

  > li {
    position: relative;

    // Remove our custom bullet icon (blue chevron)
    &::before {
      content: "" !important;
    }
  }
}

.fa-li {
  position: absolute;
  left: -1.5em;
  top: 0.3em;
  text-align: center;
}

// Remove underline on icon links
.link-fa {
  border-bottom: 0 !important;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.fa-android:before {
  content: "\e900";
}
.fa-appcelerator:before {
  content: "\e901";
}
.fa-arrow-left:before {
  content: "\e902";
}
.fa-arrow-right:before {
  content: "\e903";
}
.fa-cordova:before {
  content: "\e904";
}
.fa-dotnet:before {
  content: "\e905";
}
.fa-electron:before {
  content: "\e906";
}
.fa-ios:before {
  content: "\e907";
}
.fa-java:before {
  content: "\e908";
}
.fa-macos:before {
  content: "\e909";
}
.fa-pspdfkit:before {
  content: "\e90a";
}
.fa-react:before {
  content: "\e90b";
}
.fa-web:before {
  content: "\e90c";
}
.fa-windows:before {
  content: "\e90d";
}
.fa-xamarin:before {
  content: "\e90e";
}
.fa-mail:before {
  content: "\f003";
}
.fa-check:before {
  content: "\f00c";
}
.fa-times:before {
  content: "\f00d";
}
.fa-file:before {
  content: "\f016";
}
.fa-docs:before {
  content: "\f02d";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-help-circle:before {
  content: "\f059";
}
.fa-check-circle:before {
  content: "\f05d";
}
.fa-exit:before {
  content: "\f08b";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-blog:before {
  content: "\f0a1";
}
.fa-link:before {
  content: "\f0c1";
}
.fa-server:before {
  content: "\f0c2";
}
.fa-instant:before {
  content: "\f0c2";
}
.fa-bars:before {
  content: "\f0c9";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-safari:before {
  content: "\f267";
}
.fa-chrome:before {
  content: "\f268";
}
.fa-firefox:before {
  content: "\f269";
}
.fa-edge:before {
  content: "\f282";
}
