.list-group-borderless {
  &,
  .list-group-item {
    border: 0;
  }

  .list-group-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex: 0 0 auto;
  }
}

.list-group-flush {
  .list-group-item-action {
    border-radius: $border-radius;
  }
}

.list-group-actions {
  .list-group-item {
    background: none;
    white-space: nowrap;
  }

  .list-group-item-action {
    font-size: 0.9rem;
    font-family: $font-family-medium;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-right: 0.6rem;

    .fa {
      color: $brand;
    }

    &:hover {
      background: none;
    }
  }

  .list-group-item-action-primary {
    background: $brand;
    color: $white;
    border-radius: $border-radius;

    .fa {
      color: $white;
    }

    &:hover {
      background: $brand;
      color: $white;
    }
  }
}
