.nav-pills {
  .nav-link {
    &.active {
      font-family: $font-family-medium;
    }
  }
}

.nav-tabs-sm {
  .nav-link {
    font-size: $font-size-sm;
    padding: 0.3rem 0.75rem;
  }
}

.nav-tabs-cards {
  border: 0;
  justify-content: space-around;

  .nav-link {
    border: 0;
    color: $text-muted;
    border-radius: $border-radius;
    text-align: center;
    min-width: 100px;
    opacity: 0.75;

    &,
    &::after {
      transition: all 0.3s;
    }

    @include media-breakpoint-up(xl) {
      min-width: 105px;
    }

    &::after {
      display: block;
      font-family: $font-family-icons;
      font-size: 20px;
      line-height: 0.8;
      content: "\f0d7";
      opacity: 0;
    }

    &:hover,
    &:focus,
    &.active {
      opacity: 1;
    }

    &.active {
      background: $white;
      border: 0;
      font-family: $font-family-medium;
      @include sh-1;

      &::after {
        opacity: 1;
      }
    }
  }
}

.nav-btn-group {
  display: flex;

  .nav {
    background: $neutral-darker;
    border-radius: $border-radius;
    padding: 7px;
  }

  .nav-link {
    background: none;
    color: rgba($body-color, 0.5);
    border-radius: $border-radius;
    box-shadow: none;
    border: none;
    padding: 0.3rem 3rem;
    cursor: pointer;
  }

  .nav-link.active {
    background: $white;
    color: $body-color;
    box-shadow: 1px 1px 1px rgba($black, 0.05);
  }

  .nav-link:focus {
    outline: none;
  }
}

.nav-toc {
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: $font-size-sm;

  > li {
    border-top: 1px solid $gray-300;

    &:first-child {
      border-top: 0;
    }
  }

  a {
    display: block;
    border-left: 5px solid transparent;
    padding: 10px;

    @include hover-focus {
      text-decoration: underline;
    }
  }

  .active {
    > a {
      color: $brand;
      border-color: $brand;
      font-family: $font-family-medium;
    }
  }

  .nav-toc {
    display: none;
    border-top: 0;

    &.in {
      display: flex;
    }

    > li {
      border-top: 0;
      margin-bottom: 0;
    }

    a {
      padding: 6px;
      padding-left: 2rem;
      padding-right: 0;
    }

    a:before {
      content: "–";
      height: 100%;
      margin-left: -1rem;
      padding-right: 0.5rem;
      display: inline-block;
    }
  }
}
