html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.header {
  background: $white;
}

.content {
  position: relative;
  // Create a stacking context so that elements inside of the main content area
  // don't overlap layers that are rendered outside of the main content area.
  z-index: 0;

  // Make the footer 'stick' to the bottom of the screen
  @include media-breakpoint-up(xl) {
    // screen height - (header + footer height)
    min-height: calc(100vh - (62px + 415px));
  }

  // Colored block used behind blog articles
  .content-backdrop {
    height: 100vh;
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    z-index: -1;
    background-size: 200px;

    @include media-breakpoint-up(lg) {
      height: 75vh;
    }
  }

  .content-backdrop-sm {
    height: 40vh;
    top: -3rem;
  }
}

.section {
  padding: ($spacer * 3) 0;
  margin-bottom: ($spacer * 3);
  position: relative;

  > .section:last-child {
    margin-bottom: 0;
  }
}

.section-sm {
  padding: $spacer 0;
  margin-bottom: $spacer;
}

.footer {
  padding: $spacer 0;
}

a {
  will-change: color;
  transition: color 0.25s;

  &.disabled {
    pointer-events: none;
  }
}

hr {
  border-color: rgba($gray-500, 0.2);
  margin: ($spacer * 1.5) 0;

  @include media-breakpoint-up(sm) {
    margin: ($spacer * 2) 0;
  }
}
