.table {
  th {
    &[align="right"] {
      text-align: right;
    }

    &:empty {
      display: none;
    }
  }

  th,
  td {
    vertical-align: middle;

    a {
      border-color: rgba($text-muted, 0.2) !important;
    }
  }
}

.table-hover tbody tr {
  transition: background-color 0.25s;

  th {
    padding-left: 1rem;
  }

  svg {
    transition: all 0.25s;
    // https://github.com/twbs/bootstrap/issues/23428
    filter: #{"grayscale(100)"};
    opacity: 0.7;
  }

  &:hover {
    svg {
      filter: none;
      opacity: 1;
    }
  }
}

.table-neutral {
  thead,
  tbody {
    th,
    td {
      border-width: 2px;
      border-color: $neutral;
    }
  }
}

.table-col-focus {
  background: $white;
}
