// Backgrounds

.bg-brand {
  background-color: $brand;
}

.bg-alt-dark {
  background: $alt-dark;
}

.bg-alt-dark-gradient {
  background-image: linear-gradient(#5e5ceb 0%, #8858e8 100%);
}

.bg-alt-light-gradient {
  background-image: linear-gradient(#d3dcff 0%, #e0d2fd 100%);
}

.bg-alt-neutral {
  background: $alt-neutral;
}

// Text

.text-brand {
  color: $brand;

  a {
    color: $brand;
    border-bottom: 1px solid rgba($brand, 0.4);
    text-decoration: none;
  }
}

.text-brand-light {
  color: $brand-light;

  a {
    color: $brand-light;
    border-bottom: 1px solid rgba($brand-light, 0.4);
    text-decoration: none;
  }
}

.text-alt {
  color: $alt;
}

.text-alt-light {
  color: rgba($alt-dark, 0.8);
}

.text-alt-dark {
  color: $alt-dark;

  a {
    color: $alt;
    text-decoration: underline;
  }
}

// Links

.link-brand {
  &,
  &:hover,
  &:active,
  &:focus {
    border-bottom: 2px solid rgba($brand, 0.6);
    text-decoration: none;
  }
}

// Buttons

.btn-brand,
.nav-block > .nav-item > .nav-btn-brand {
  background-color: $brand;
  border-color: $brand;
  color: $white !important;

  @include hover-focus {
    background-color: $brand-dark;
    border-color: $brand-dark;
    color: $white;
    @include sh-1;
  }

  &:active,
  &.active {
    background-color: $brand-darker;
    border-color: $brand-darker;
  }
}

.btn-link-brand {
  color: $brand;

  @include hover-focus {
    color: $brand;
  }
}

.btn-outline-brand {
  border-width: 2px;
  border-color: $brand;
  color: $brand;

  @include hover-focus {
    color: $brand-dark;
    border-color: $brand-dark;
    background: none;
    box-shadow: none;
  }

  &:active,
  &.active {
    color: $white;
    background-color: $brand-dark;
    border-color: $brand-dark;
  }
}

.btn-group {
  .btn-outline-brand {
    color: $body-color;
    background: $white;
    border: 0;
    border-right: 1px solid $gray-400;
    padding: 0.8rem 1.3rem;

    &.active {
      color: $white;
      background: $brand;
    }
  }
}

.btn-group-sm {
  .btn-outline-brand {
    color: $brand;
    background: none;
    border: 2px solid $brand;
    padding: 0.2rem 2rem 0.15rem;

    &.active {
      color: $white;
      background: $brand;
    }
  }
}

.btn-inverse-brand {
  @include button-variant($white, $white);
  border: 0;
  margin-left: 0 !important;
  color: $brand;
  transition: background-color 0.25s;

  @include hover-focus {
    background: $brand;
    box-shadow: none;

    &,
    .fa,
    .text-muted {
      color: $white !important;
    }
  }

  &:active {
    background: $brand-darker;

    &,
    .text-muted {
      color: $white !important;
    }
  }

  &.active {
    color: $white !important;
    background: $brand-dark !important;
  }

  &:last-child {
    border-right: 0;
  }
}

.btn-alt {
  background: $alt;
  color: $white;

  @include hover-focus {
    background: darken($alt, 8%);
    color: $white;
  }
}

.btn-alt-outline {
  color: $alt-dark;
  border-color: #bec9d9;

  @include hover-focus {
    color: $alt-dark;
    border-color: $alt;
  }
}

.btn-inverse-alt {
  background: $white;
  color: $alt;

  @include hover-focus {
    color: $alt;
  }
}

// Nav Bar

.nav-block > .nav-item-brand.active {
  border-top-color: $brand;

  > .nav-link {
    color: $brand;
  }
}

// Nav Sub

.nav-sub .nav-link-brand,
.nav-sub .breadcrumb-item-brand {
  @include hover-focus {
    color: $brand;
  }

  &.active {
    color: $brand;
  }

  &:not(.active) {
    .fa {
      color: rgba($body-color, 0.5);
    }
  }
}

// Nav Tabs

.nav-tabs .nav-link-brand.active {
  &,
  &::after {
    color: $brand;
  }
}

.nav-pills .nav-link-brand.active {
  &,
  &:after {
    background: $brand;
  }
}

// Nav ToC

.nav-toc > .nav-item.active > .nav-link-brand {
  color: $brand;
  border-color: $brand;
}

// Badges

.badge-brand {
  color: $white;
  background-color: $brand;
}

// Forms

.form-control-brand {
  &:focus {
    border-color: rgba($brand, 0.5);
  }
}

.form-control-alt {
  background: rgba($white, 0.1) !important;
  border: 1px solid $white;
  color: $white !important;

  &::placeholder {
    color: rgba($white, 0.5) !important;
  }
}

// Text

@each $c in map-keys($themes) {
  $color: map-get($themes, $c);

  .text-#{$c} {
    color: $color;

    a {
      color: $color;
      border-bottom: 1px solid rgba($color, 0.4);
      text-decoration: none;
    }
  }
}

// Backgrounds

@each $c in map-keys($backgrounds) {
  $color: map-get($backgrounds, $c);

  .bg-#{$c} {
    background: $color;
  }
}

// SVGs

.svg-alt-dark {
  svg {
    fill: $alt-dark;
  }
}
