// Responsive Typography

html {
  font-size: ($font-size-base * 0.85);
}

@include media-breakpoint-up(sm) {
  html {
    font-size: ($font-size-base * 0.95);
  }
}

// Headings

h1,
.h1 {
  font-size: $h2-font-size;
  font-family: $font-family-bold;
  margin: ($spacer * 2) 0 $spacer 0;

  @include media-breakpoint-up(sm) {
    font-size: $h1-font-size;
  }
}

h2,
.h2 {
  font-family: $font-family-bold;
  margin: ($spacer * 3) 0 $spacer 0;
}

h3,
.h3 {
  margin-bottom: $spacer;

  .badge {
    font-size: 0.8rem;
  }
}

h5,
.h5 {
  margin-top: 0;

  .badge {
    transform: translateY(-2px);
  }
}

h6,
.h6 {
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-family: $font-family-medium;
}

header {
  h1,
  .h1,
  h2,
  .h2 {
    margin-top: 0;
  }
  h6,
  .h6 {
    margin-bottom: $spacer;
  }
}

.display-4 {
  font-size: $h1-font-size;
  @include media-breakpoint-up(sm) {
    font-size: $display4-size;
  }
}

// Paragraphs

p {
  margin-bottom: ($spacer * 1.5);
}

// Follow the Bootstrap naming convention:
// `.small` < `.medium` < `.lead`
.medium {
  font-size: 87%;
  line-height: 1.9;
}

// Lists

ul,
ol {
  padding-left: 1.2em;
  margin-bottom: ($spacer * 1.5);

  ul li,
  ol li {
    margin-bottom: $spacer;
  }
}

.list-checklist {
  list-style: none;
  padding: 0;

  li {
    padding: 1rem;

    &:nth-child(2n) {
      background-color: $white;
    }

    background-image: url("/images/icons/checkmark.svg");
    background-repeat: no-repeat;
    background-position: 15px 50%;
    padding-left: 55px;
  }
}

// Emphasis

strong {
  font-family: $font-family-medium;
  font-weight: normal;
}

em {
  font-style: normal;
}

.text-muted {
  a {
    color: $text-muted;
    border-bottom: 1px solid rgba($text-muted, 0.3);

    @include hover-focus {
      text-decoration: none;
    }
  }
}

.text-neutral-muted {
  &,
  a {
    color: #889db3;
  }
}

.text-white {
  a {
    color: $white;
    border-bottom: 1px solid rgba($white, 0.3);

    @include hover-focus {
      text-decoration: none;
    }
  }
}

.text-silent {
  opacity: 0.2;
}

.text-nowrap {
  white-space: nowrap;
}

.text-medium {
  font-family: $font-family-medium;
}

// Links

.link-img {
  display: inline-block;

  @include hover-focus {
    text-decoration: none;

    .link-img-title {
      text-decoration: underline;
    }
  }
}

// Quotes

blockquote,
.blockquote {
  font-size: $blockquote-font-size;
  border-left: 0;
  padding-left: 0;
  margin-bottom: $spacer;

  &.blockquote-sm {
    font-size: ($font-size-base * 0.9);
    font-family: $font-family-sans-serif;

    .blockquote-footer {
      font-size: ($font-size-base * 0.9);
    }
  }

  &.blockquote-lg {
    font-size: ($font-size-base * 1.4);
  }

  .blockquote-footer {
    font-family: $font-family-sans-serif;

    &::before {
      display: none;
    }

    a {
      color: $blockquote-small-color;
      text-decoration: underline;
    }
  }
}

.anchorable {
  > span {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.25s;
    position: absolute;
    display: block;
    transform: translate(-24px, -3px);
    padding-right: 10px;

    &::before {
      font-family: $font-family-icons;
      font-size: $font-size-base;
      content: "\f0c1";
      color: $gray-300;
    }
  }

  &:hover {
    > span {
      opacity: 1;
    }
  }
}
