.twitter-typeahead {
  display: block !important;
}

.tt-input,
.tt-menu {
  font-size: $font-size-sm;
}

.tt-input {
  min-height: 2.5rem;
  padding-left: 15px;
  border-radius: 30px;
}

.tt-menu {
  width: 100%;
  z-index: $zindex-modal !important;
}

.tt-suggestion:hover,
.tt-suggestion.tt-cursor {
  cursor: pointer;
  background-color: $brand-light;
  color: $white;
}

.tt-highlight {
  font-family: $font-family-medium;
}

.tt-spinner {
  position: absolute;
  top: 12px;
  right: 30px;
  opacity: 0;

  &.in {
    opacity: 1;
  }
}
