.video-player {
  position: relative;
  cursor: pointer;

  video {
    display: table;
    cursor: pointer;
  }

  &::before,
  &::after {
    pointer-events: none;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black;
    transition: opacity 0.25s;
    opacity: 0.4;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/images/icons/play.png') no-repeat 50% 50%;
    background-size: 120px;
    transition: opacity 0.25s;
    opacity: 0.7;
    cursor: pointer;
  }

  &:hover {
    &::after {
      opacity: 0.9;
    }
  }

  &.is-playing {
    &::before,
    &::after {
      opacity: 0;
    }
  }
}
