<style>
  #document-editor {
    padding-top: 60px;
    margin-bottom: -220px;
    position: relative;
    overflow: hidden;
  }
  #document-editor-illustration-mobile {
    flex-shrink: 0;
    margin-top: -130px;
    margin-left: -725px;
  }
  #document-editor-illustration-desktop {
    flex-shrink: 0;
    z-index: -1;
    display: none;
  }
  @media (min-width: 768px) {
    #document-editor-illustration-mobile {
      display: none;
    }
    #document-editor-illustration-desktop {
      display: block;
      margin-top: -490px;
      margin-left: -780px;
    }
  }
  @media (min-width: 992px) {
    #document-editor {
      margin-bottom: 0;
    }
    #document-editor-illustration-desktop {
      margin-top: -660px;
      margin-left: -700px;
      margin-bottom: -200px;
    }
  }
  @media (min-width: 1200px) {
    #document-editor {
      padding-top: 300px;
      margin-bottom: -300px;
      transform: translateY(-300px);
    }
  }
</style>
<section id="document-editor">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-6 ml-auto">
        <div class="card">
          <div class="card-body">
            <h2 class="h6 text-alt mt-0 mb-2">
              Document Editor
            </h2>
            <h3 class="h2 text-alt-dark mt-0 mb-4">
              Merge, Add/Remove, Split, and Rotate Pages
            </h3>
            <p class="text-alt-dark mb-0">
              Access powerful low-level controls for merging PDFs, adding or deleting pages, appending cover sheets, and rotating pages. Assemble multiple documents into a single unified PDF for easier distribution and recordkeeping. Ensure document uniformity across all business processes.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <img src="/images/pdf-library/document-editor-mobile.png" id="document-editor-illustration-mobile" width="2232" height="1708">
      <img src="/images/pdf-library/document-editor-desktop.png" id="document-editor-illustration-desktop" width="2269" height="1352">
    </div>
  </div>
</section>
