<section id="integration" class="mb-6">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header p-4 p-lg-5">
            <h2 class="h6 text-alt mt-0 mb-2">
              Integration
            </h2>
            <h3 class="h2 text-alt-dark mt-0 mb-4">
              <%= title %>
            </h3>
            <p class="text-alt-dark">
              PSPDFKit can be integrated with just a few lines of code, and it comes with a rich API, which allows for complete customization.
            </p>
          </div>
          <div class="card-body bg-alt-light-gradient p-3">
            <%= partial example %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
