<div class="card card-cta">
  <div class="card-body text-center">
    <i class="fa fa-xl fa-pspdfkit text-brand mb-3"></i>
    <h3 class="h2 my-0 mb-2">
      Learn Advanced PDF Integration
    </h3>
    <p>
      Learn PDF from the experts — sign up for future posts where we'll explore how to integrate
      PDF's advanced features into your application, covering topics such as how annotations work,
      sharing annotations with XSDF and JSON, and protecting documents with digital signatures.
    </p>
    <form action="https://pspdfkit.createsend.com/t/j/s/vtkliy/" method="post" class="card-form">
      <div class="row">
        <div class="col-lg-7 mb-4 mb-lg-0">
          <input type="email" id="email" name="cm-vtkliy-vtkliy" class="form-control form-control-brand" placeholder="name@company.com" required>
        </div>
        <div class="col-lg-5">
          <button type="submit" name="button" class="btn btn-lg btn-block btn-brand">
            Sign Up
          </button>
        </div>
    </form>
  </div>
</div>
