<div class="card card-cta">
  <div class="card-body text-center">
    <i class="fa fa-xl fa-web text-brand mb-3"></i>
    <h3 class="h2 my-0 mb-2">
      PSPDFKit for Web
    </h3>
    <p>
      PDF viewing, annotating, and collaboration for web apps.
    </p>
    <a href="https://web-examples.pspdfkit.com/" class="btn btn-lg btn-brand px-5" target="_blank" rel="noopener">Try Now</a>
  </div>
</div>
