<div class="card card-cta">
  <div class="card-body text-center">
    <i class="fa fa-xl fa-electron text-brand mb-3"></i>
    <h3 class="h2 my-0 mb-2">
      PSPDFKit for Electron
    </h3>
    <p>
      Download the free 60-day trial and add it to your app today.
    </p>
    <%= partial 'shared/cta_try_form' %>
  </div>
</div>
