<div class="card card-cta">
  <div class="card-body text-center">
    <i class="fa fa-xl fa-pspdfkit text-brand mb-3"></i>
    <h3 class="h2 my-0 mb-2">
      PSPDFKit Newsletter
    </h3>
    <p>
      Subscribe to our newsletter for more articles like this.
    </p>
    <%= partial 'shared/newsletter_form' %>
  </div>
</div>
