<div class="card card-cta">
  <div class="card-body text-center">
    <i class="fa fa-xl fa-instant text-brand mb-3"></i>
    <h3 class="h2 my-0 mb-2">
      PSPDFKit Instant
    </h3>
    <p>
      See Instant sync your markup and comments in <strong>real time</strong> across Web, iOS and Android.
    </p>
    <a href="/instant/demo/" class="btn btn-lg btn-brand px-5">Try Now</a>
  </div>
</div>
