<div class="card card-cta">
  <div class="card-body text-center">
    <i class="fa fa-xl fa-sales text-brand mb-3"></i>
    <h3 class="h2 my-0 mb-2">
      Work at PSPDFKit
    </h3>
    <p>
      Come work with us! Check out the current job openings in our Careers Page.
    </p>
    <a href="https://pspdfkit.com/careers/" class="btn btn-lg btn-brand px-5" target="_blank" rel="noopener">View Job Openings</a>
  </div>
</div>
