<div class="card card-cta">
  <div class="card-body text-center">
    <i class="fa fa-xl fa-pspdfkit text-brand mb-3"></i>
    <h3 class="h2 my-0 mb-2">
      PDF Viewer for <%= platform_name(current_platform) %>
    </h3>
    <p>
      Get our free <strong>PDF Viewer</strong> and experience the power of the <%= platform_name(current_platform) %> SDK.
    </p>
    <a href="https://pdfviewer.io/" class="btn btn-lg btn-brand px-5">Download</a>
  </div>
</div>
