<div class="card card-cta">
  <div class="card-body text-center">
    <i class="fa fa-xl fa-sales text-brand mb-3"></i>
    <h3 class="h2 my-0 mb-2">
      Get In Touch
    </h3>
    <p>
      If you think <strong>PSPDFKit</strong> could be for you, our
      team will help find the best solution for your project.
    </p>
    <a href="https://pspdfkit.com/sales/" class="btn btn-lg btn-brand px-5" target="_blank" rel="noopener">Contact Sales</a>
  </div>
</div>
