<% article ||= locals[:preview_md] %>

<div class="col-md-6 col-lg-4 mb-5">
  <a href="<%= article.url %>" class="card card-md card-article card-hoverable h-100">
    <div class="card-img-top card-img-top-md">
      <img src="/images/shared/placeholder.gif" data-src="<%= article_image(article) %>" alt="" class="img-fluid lazyload" loading="lazy">
    </div>
    <div class="card-body p-4">
      <h3 class="card-title h5 mb-0">
        <%= punctuate article.title %>
      </h3>
    </div>
  </a>
</div>
