---
title: Licensing
section: developers

alternate_platform_links:
  ios: faq/licensing
  android: faq/licensing
---

We offer flexible licensing options to accommodate customers and projects of all types and sizes. Our aim is to provide the best possible PDF solution on the market, along with a license specifically tailored to help you achieve your goals.

<hr>

When you purchase a subscription license for PSPDFKit for Electron, the license allows you to embed PSPDFKit for Electron in an agreed-upon list of Electron applications.

You can set up these applications in the <a href="https://customers.pspdfkit.com/" rel="nofollow">
PSPDFKit Customer Portal</a>.

PSPDFKit for Electron will verify the application based on the `name` property of your
`package.json` file.

PSPDFKit for Electron can be activated with either a production key or a development key. Development mode does not restrict the allowed Electron application `name`.

If the text of your license agreement differs from the above, then the language of that agreement is binding.
