---
title: Try the Demo
section: developers

order: 100
secret: true
alternate_platform_links:
  ios: getting-started/try-the-demo
  android: getting-started/try-the-demo
---

<div class="alert alert-warning hide-in-trial">
<p><strong>Note:</strong> This article is about testing out the PSPDFKit trial for evaluation purposes. If you don’t yet have a trial license, fill out the <a href="https://pspdfkit.com/try">trial form</a> to get one.</p>
</div>

Thank you for trying PSPDFKit for Electron.

## Example Project

The easiest way to evaluate PSPDFKit for Electron is to use the example project.

[Click here][example project] for a step-by-step walkthrough on how to get it up and running in no time.

## Your Own Project

Please follow the guide articles below for information on how to use PSPDFKit for Electron with your existing application:

- [Adding to Your Project][]
- [Integration][]

[example project]: ../../pspdfkit-for-electron/example-project
[adding to your project]: ../../pspdfkit-for-electron/adding-to-your-project/
[integration]: ../../pspdfkit-for-web/integration/
