---
title: Comparison
title_suffix: PSPDFKit PDF SDK
section: sdk
---

<%= partial 'shared/nav_sub' %>


<!-- Hero -->
<section class="pt-4 py-lg-5">
  <div class="container pt-lg-5">
    <div class="row">
      <div class="col-lg-8">
        <div class="d-flex flex-column flex-lg-row">
          <div class="d-flex mr-2">
            <div class="bg-white sh-1 sq-80 rounded-app">
              <img src="/images/shared/placeholder.gif" data-src="/images/icons/comparison.svg" height="60" class="lazyload" loading="lazy">
            </div>
          </div>
          <div class="ml-lg-4">
            <h1 class="mt-3">
              Comparison
            </h1>
            <p>
              The Comparison component allows users to visually compare documents and is tailor-made for construction plans and other vector-based schematics and maps. It’s perfect for showcasing changes to PDF pages that involve the addition or removal of graphic elements.
            </p>
            <p class="d-block d-lg-none">
              <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/hero-combined.png" class="img-fluid lazyload" loading="lazy">
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center text-center mb-4 d-none d-lg-flex">
      <div class="col-lg-4">
        <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/hero-version-a.png" width="313" style="margin-bottom: -200px;" class="lazyload" loading="lazy">
      </div>
      <div class="col-lg-4">
        <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/hero-comparison.png" width="365" class="lazyload" loading="lazy">
      </div>
      <div class="col-lg-4">
        <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/hero-version-b.png" width="313" style="margin-top: -200px;" class="lazyload" loading="lazy">
      </div>
    </div>
  </div>
</section>

<!-- Industry -->
<section class="my-5 mb-lg-0">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-5">
        <p>
          <img class="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/industry.png" class="img-fluid lazyload" loading="lazy">
        </p>
      </div>
      <div class="col-md-7">
        <p>
          Industries that require and regularly work with vector-based plans or designs will find the Comparison component particularly useful. It enables two single-page versions of a design to be overlaid, allowing the user to view minute changes or get an overview of the project.
        </p>
        <p class="text-center text-md-left">
          <a href="#video" class="btn btn-brand px-5">
            <small>SEE IT IN ACTION!</small>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Combining -->
<section class="mb-5 mb-md-0 overflow-hidden">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 d-none d-md-block">
        <div class="pull-md-12 pull-lg-5 pull-xl-3">
          <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/combining-desktop.png" width="765" class="lazyload pull-md-2" loading="lazy">
        </div>
      </div>
      <div class="col-md-6">
        <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/combining-mobile.png" class="img-fluid lazyload d-md-none" loading="lazy">
        <h2>
          Combining Two Designs
        </h2>
        <p>
          The overlay feature of the Comparison component enables users to combine two job-specific versions of a plan (e.g. electric and plumbing), which lets project leaders compare the plans in a single document in order to spot potential design conflicts.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Comparing -->
<section class="mb-5 mb-md-0 overflow-hidden">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/comparing-mobile.png" class="img-fluid lazyload d-md-none" loading="lazy">
        <h2>
          Comparing Changes
        </h2>
        <p>
          In the construction industry, as well as in other industries working with schematics, project participants often have to deal with design changes made mid-project. These changes are typically difficult to spot in a side-by-side comparison. The Comparison component makes it exceedingly simple to identify them, enabling everyone to quickly get up to speed with the new plan.
        </p>
      </div>
      <div class="col-md-6 d-none d-md-block">
        <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/comparing-desktop.png" width="765" class="lazyload" loading="lazy">
      </div>
    </div>
  </div>
</section>

<!-- Testimonial -->
<style>
  .testimonial-cmic-bg {
    background-image: url('/images/pdf-sdk/comparison/testimonial-cmic-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 92% 50%;
  }
  @media (min-width: 992px) {
    .testimonial-cmic-bg {
      background-size: 1480px 520px;
      background-position: 50% 30%;
    }
    .testimonial-cmic-quote-left {
      position: absolute;
      left: -65px;
    }
    .testimonial-cmic-quote-right {
      position: absolute;
      right: -180px;
      bottom: -20px;
    }
  }
</style>
<section class="testimonial-cmic-bg py-5 mb-lg-5">
  <div class="container">
    <div class="row justify-content-center flex-row-reverse">
      <div class="col-md-7 offset-md-1">
        <div class="d-flex flex-column flex-md-column-reverse">
          <p>
            <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/testimonial-cmic-logo-tagline.png" alt="CMiC: Contruction Software. Evolved." width="360" class="lazyload" loading="lazy">
          </p>
          <blockquote class="blockquote">
            <img class="testimonial-cmic-quote-left d-none d-lg-block" src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/testimonial-cmic-quote-left.png" alt="" width="50" class="lazyload" loading="lazy">
            <p class="text-white">
              <span class="d-lg-none">&ldquo;</span>
              CMiC was looking for a way to offer our customers a better way to compare revisions of complex construction drawings. Changing the color of the lines of two different PDFs and overlaying them on top of one another to highlight the differences would make this process much easier for our users working in the field. The process of integrating PSPDFKit's Comparison component into our app was quick and without hassle. So far the feedback from our users has been fantastic!
              <span class="d-lg-none">&rdquo;</span>
            </p>
            <img class="testimonial-cmic-quote-right d-none d-lg-block" src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/testimonial-cmic-quote-right.png" alt="" width="50" class="lazyload" loading="lazy">
          </blockquote>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3 px-lg-4">
        <div class="card overflow-hidden d-flex flex-row flex-md-column">
          <div>
            <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/testimonial-cmic-headshot.jpg" alt="Steve Cangiano" width="120" class="lazyload d-md-none" loading="lazy">
            <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/testimonial-cmic-headshot.jpg" alt="Steve Cangiano" class="d-none d-md-block img-fluid lazyload" loading="lazy">
          </div>
          <div class="card-body p-3">
            <p class="mb-0">
              <strong>Steve Cangiano</strong>
            </p>
            <p class="text-muted mb-0">
              Product Manager
            </p>
            <p class="text-right mb-0">
              <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/testimonial-cmic-logo.png" alt="CMiC" width="63" class="lazyload" loading="lazy">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- How it works -->
<style>
  @media (min-width: 768px) {
    .how-it-works-bg {
      background-image: url('/images/pdf-sdk/comparison/how-it-works-bg.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 330px;
    }
  }
  @media (min-width: 992px) {
    .how-it-works-bg {
      background-position: 50% 53%;
      background-size: 550px;
    }
  }
</style>
<section class="how-it-works-bg py-lg-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2>
          How It Works
        </h2>
        <p>
          The Comparison component works by coloring two pages and laying them on top of each other to visually highlight the differences. It’s a quick and effective way to compare two versions of a document:
        </p>
      </div>
    </div>
  </div>
  <div class="mb-4 text-center d-md-none">
    <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/how-it-works-mobile.png" class="img-fluid lazyload" loading="lazy">
  </div>
  <div class="container">
    <div class="row d-none d-md-flex">
      <div class="col-md-4">
        <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/how-it-works-version-a.png" class="img-fluid lazyload" loading="lazy">
      </div>
      <div class="col-md-4">
        <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/how-it-works-version-b.png" class="img-fluid lazyload" loading="lazy">
      </div>
      <div class="col-md-4">
        <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/comparison/how-it-works-comparison.png" class="img-fluid lazyload" loading="lazy">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3 class="h4">Step 1</h3>
        <p class="medium">
          Open the first document and specify a stroke color (e.g. blue).
        </p>
      </div>
      <div class="col-md-4">
        <h3 class="h4">Step 2</h3>
        <p class="medium">
          Open the second document and specify a contrasting stroke color (e.g. red).
        </p>
      </div>
      <div class="col-md-4">
        <h3 class="h4">Step 3</h3>
        <p class="medium">
          The new, merged document highlights the differences by blending both versions into one.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Documentation -->
<%= partial 'shared/product_documentation', locals: {
  title: 'Comparison',
  urls: {
    ios: '/guides/ios/current/features/comparison/',
    android: '/guides/android/current/features/comparison/',
  }
} %>

<!-- Video -->
<section id="video" class="py-lg-5">
  <div class="container">
    <div class="text-center mb-4">
      <h2 class="mb-4">
        See It in Action
      </h2>
      <div class="btn-group btn-group-sm mt-1 mb-3" data-controller="platform-switcher">
        <button type="button" class="btn btn-outline-brand active" data-action="click->platform-switcher#change" data-target="ios">iOS</button>
        <button type="button" class="btn btn-outline-brand" data-action="click->platform-switcher#change" data-target="android">Android</button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 mb-5">
        <div class="video-player rounded sh-3" data-platform="ios">
          <video src="/images/pdf-sdk/comparison/video-ios.mp4" poster="/images/pdf-sdk/comparison/video-ios.png" muted playsinline preload width="100%" data-controller="video"></video>
        </div>
        <div class="video-player rounded sh-3 hidden" data-platform="android">
          <video src="/images/pdf-sdk/comparison/video-android.mp4" poster="/images/pdf-sdk/comparison/video-android.png" muted playsinline preload width="100%" data-controller="video"></video>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <p>
          PSPDFKit’s document tabs allow your users to easily switch between the old, new, and merged (comparison) documents.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Features -->
<section class="mb-5">
  <div class="container">
    <h2 class="h4">
      Main Features
    </h2>
    <div class="row">
      <div class="col-md-6">
        <ul class="list-unstyled mb-0">
          <li class="border-top p-2 d-flex">
            <i class="fa fa-check text-brand mt-1 mr-3"></i>
            <span class="medium">
              Recolor and merge PDF pages with different blend modes using the API.
            </span>
          </li>
          <li class="border-top p-2 d-flex">
            <i class="fa fa-check text-brand mt-1 mr-3"></i>
            <span class="medium">
              Color strokes in a document while leaving other elements, such as text or images, unchanged.
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled mb-0">
          <li class="border-top p-2 d-flex">
            <i class="fa fa-check text-brand mt-1 mr-3"></i>
            <span class="medium">
              Apply various blend modes to optimize the visibility of differences.
            </span>
          </li>
          <li class="border-top p-2 d-flex">
            <i class="fa fa-check text-brand mt-1 mr-3"></i>
            <span class="medium">
              Visually overlay two or more documents by merging them into a single document.
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Trial CTA -->
<%= partial 'shared/cta_try', locals: { title: 'PSPDFKit' } %>
