---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="home-content">
		<h1 class="page-title">👋 Hello, I'm Peter Steinberger</h1>
		<p>
			Welcome to my personal website. I'm an iOS developer, entrepreneur, and open source contributor.
		</p>
		<p>
			I'm the founder and CEO of <a href="https://pspdfkit.com" target="_blank">PSPDFKit</a>, a company that provides PDF solutions for web, mobile, and desktop applications. 
			Our technology is used by thousands of companies worldwide to power their document workflows.
		</p>
		<p>
			I'm passionate about:
		</p>
		<ul>
			<li>iOS and macOS development</li>
			<li>Building high-quality software</li>
			<li>Open source contributions</li>
			<li>Sharing knowledge through blogging and speaking</li>
			<li>Creating developer tools that improve workflows</li>
		</ul>
		<p>
			Check out my <a href="/blog">blog</a> where I write about iOS development, entrepreneurship, and technology.
			You can also learn more <a href="/about">about me</a> and my work.
		</p>
		<p>
			Feel free to connect with me on <a href="https://twitter.com/steipete" target="_blank">Twitter</a>, 
			<a href="https://github.com/steipete" target="_blank">GitHub</a>, or 
			<a href="https://www.linkedin.com/in/steipete/" target="_blank">LinkedIn</a>.
		</p>
	</div>
</BaseLayout>
