<div class="col-lg-4 bg-brand-darker text-white rounded">
  <div class="p-3 py-4">
    <blockquote class="blockquote blockquote-sm">
      <p class="mb-3">
        “Our team can focus on implementing the features specific to the DocuSign business domain while leaving the handling of PDFs to the experts.”
      </p>
      <footer class="blockquote-footer text-white op-5">
        <p class="mb-1">
          Kiran Kaza <br>
          Head of Mobile Engineering
        </p>
        <img src="/images/shared/placeholder.gif" data-src="/images/logos/docusign-trimmed.svg" alt="DocuSign" height="40" class="invert lazyload" loading="lazy">
      </footer>
    </blockquote>
    <hr>
    <blockquote class="blockquote blockquote-sm">
      <p class="mb-3">
        “The outstanding customer support provided by PSPDFKit with their quick response and update times never ceases to amaze us. Working with the SDK and the team of PSPDFKit is a flawless and seamless experience and, in the end, even outright fun.”
      </p>
      <footer class="blockquote-footer text-white op-5">
        <p class="mb-1">
          Max Stratmann<br>
          Head of Operations
        </p>
        <img src="/images/shared/placeholder.gif" data-src="/images/logos/scanbot-trimmed.svg" alt="ScanBot" height="28" class="invert lazyload" loading="lazy">
      </footer>
    </blockquote>
    <hr>
    <blockquote class="blockquote blockquote-sm">
      <p class="mb-3">
        “What we really appreciate with PSPDFKit is the polish of this product. A great amount of time has been spent on the details.”
      </p>
      <footer class="blockquote-footer text-white op-5">
        <p class="mb-1">
          Martin Destagnol <br>
          Head of Mobile Engineering
        </p>
        <img src="/images/shared/placeholder.gif" data-src="/images/logos/box-trimmed.svg" alt="Box" height="38" class="invert lazyload" loading="lazy">
      </footer>
    </blockquote>
    <% if locals[:include_additional_logos] %>
      <hr>
      <div class="op-5">
        <p class="small">
          Trusted by industry leaders:
        </p>
        <div class="row invert">
          <div class="col-6">
            <p class="mb-5">
              <img src="/images/shared/placeholder.gif" data-src="/images/logos/plangrid-trimmed.svg" alt="PlanGrid" width="120" class="lazyload" loading="lazy">
            </p>
            <p class="mb-5">
              <img src="/images/shared/placeholder.gif" data-src="/images/logos/disney-trimmed.svg" alt="Disney" width="90" class="mt-1 lazyload" loading="lazy">
            </p>
            <p class="mb-5">
              <img src="/images/shared/placeholder.gif" data-src="/images/logos/evernote-trimmed.svg" alt="Evernote" width="130" class="lazyload" loading="lazy">
            </p>
            <p class="mb-5">
              <img src="/images/shared/placeholder.gif" data-src="/images/logos/lufthansa-trimmed.svg" alt="Lufthansa" width="100" class="lazyload" loading="lazy">
            </p>
            <p class="mb-5">
              <img src="/images/shared/placeholder.gif" data-src="/images/logos/siemens-trimmed.svg" alt="Siemens" width="100" class="mt-3 lazyload" loading="lazy">
            </p>
          </div>
          <div class="col-6">
            <p class="mb-5">
              <img src="/images/shared/placeholder.gif" data-src="/images/logos/bmw-group-trimmed.svg" alt="BMW Group" width="80" class="lazyload" loading="lazy">
            </p>
            <p class="mb-5">
              <img src="/images/shared/placeholder.gif" data-src="/images/logos/dropbox-trimmed.svg" alt="Dropbox" width="130" class="lazyload" loading="lazy">
            </p>
            <p class="mb-5">
              <img src="/images/shared/placeholder.gif" data-src="/images/logos/ibm-trimmed.svg" alt="IBM" width="80" class="lazyload" loading="lazy">
            </p>
            <p class="mb-5">
              <img src="/images/shared/placeholder.gif" data-src="/images/logos/sap-trimmed.svg" alt="SAP" width="80" class="lazyload" loading="lazy">
            </p>
            <p class="mb-5">
              <img src="/images/shared/placeholder.gif" data-src="/images/logos/united-airlines-trimmed.svg" alt="United Airlines" width="100" class="lazyload" loading="lazy">
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
