<%
id    ||= 'contact-sales'
title ||= current_page.data.title || "PSPDFKit"
%>

<section id="<%= id %>" class="section">
  <div class="container">
    <div class="card card-hoverable animated">
      <div class="card-body overflow-hidden">
        <div class="row align-items-center">
          <div class="col-lg-2 pull-lg-1 d-none d-lg-block">
            <img src="/images/icons/sales.svg" alt="" class="img-fluid">
          </div>
          <div class="col-lg-7">
            <h3 class="card-title text-brand">Get In Touch</h3>
            <p class="card-lead lead mb-4 mb-lg-0">
              If you think <strong><%= title %></strong> could be for you, our
              team will help find the best solution for your project.
            </p>
          </div>
          <div class="col-lg-3 ml-auto">
            <a href="/sales/" class="btn btn-lg btn-block btn-brand">
              Contact Sales
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
