<section class="section">
  <div class="container">
    <div class="card card-hoverable animated">
      <div class="card-body overflow-hidden">
        <div class="row align-items-center">
          <div class="col-lg-2 pull-lg-1 d-none d-lg-block">
            <img src="/images/icons/pdf-viewer.png" alt="" class="img-fluid">
          </div>
          <div class="col-lg-8">
            <h3 class="card-title text-brand">PDF Viewer for iOS and Android</h3>
            <p class="card-lead lead mb-4 mb-lg-0">
              Work with PDF documents on the go &mdash; annotations, forms, signatures,
              editing, and sharing — all in one, <strong>free</strong> package.
            </p>
          </div>
          <div class="col-lg-3 ml-auto">
            <a href="https://pdfviewer.io/store-ios/">
              <img src="/images/shared/placeholder.gif" data-src="/images/shared/app-store.svg" alt="Download on the App Store" width="150" class="my-2 mr-sm-3 lazyload" loading="lazy">
            </a>
            <a href="https://pdfviewer.io/store-android/">
              <img src="/images/shared/placeholder.gif" data-src="/images/shared/google-play.svg" alt="Get it on Google Play" width="150" class="my-2 lazyload" loading="lazy">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
