<section id="ios-13" class="section bg-neutral-dark">
  <div class="container text-center">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-7">
        <header>
          <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/ios/cta/ios-13/ios-13.png" alt="" width="80" class="lazyload mb-5" loading="lazy">
          <h2>Ready for iOS 13</h2>
        </header>
        <p>
          PSPDFKit 9 for iOS is compatible with iOS 13. This version of our SDK
          includes support for Mac Catalyst, Dark Mode, multiple windows,
          SwiftUI, and integrated Swift convenience APIs.
        </p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center mb-5">
      <div class="col-4 col-md-2 text-center">
        <div class="px-lg-3 mb-4 mb-md-0">
          <a href="/blog/2019/pspdfkit-for-mac-catalyst/">
            <img src="/images/shared/placeholder.gif"
                 data-src="/images/pdf-sdk/ios/cta/ios-13/mac-catalyst.png"
                 class="mb-3 img-fluid lazyload"
                 loading="lazy"
                 alt=""><br />
            <p class="small text-muted mb-0">
              Mac Catalyst
            </p>
          </a>
        </div>
      </div>
      <div class="col-4 col-md-2 text-center">
        <div class="px-lg-3 mb-4 mb-md-0">
          <a href="/blog/2019/pspdfkit-ios-9/#dark-mode">
            <img src="/images/shared/placeholder.gif"
                 data-src="/images/pdf-sdk/ios/cta/ios-13/dark-mode.png"
                 class="mb-3 img-fluid lazyload"
                 loading="lazy"
                 alt=""><br />
            <p class="small text-muted mb-0">
              Dark Mode
            </p>
          </a>
        </div>
      </div>
      <div class="col-4 col-md-2 text-center">
        <div class="px-lg-3 mb-4 mb-md-0">
          <a href="/blog/2019/pspdfkit-ios-9/#multiple-windows">
            <img src="/images/shared/placeholder.gif"
                 data-src="/images/pdf-sdk/ios/cta/ios-13/multiple-windows.png"
                 class="mb-3 img-fluid lazyload"
                 loading="lazy"
                 alt=""><br />
            <p class="small text-muted mb-0">
              Multiple Windows
            </p>
          </a>
        </div>
      </div>
      <div class="col-4 col-md-2 text-center">
        <div class="px-lg-3 mb-4 mb-md-0">
          <a href="/blog/2019/pspdfkit-ios-9/#swiftui">
            <img src="/images/shared/placeholder.gif"
                 data-src="/images/pdf-sdk/ios/cta/ios-13/swiftui.png"
                 class="mb-3 img-fluid lazyload"
                 loading="lazy"
                 alt=""><br />
            <p class="small text-muted mb-0">
              SwiftUI
            </p>
          </a>
        </div>
      </div>
      <div class="col-4 col-md-2 text-center">
        <div class="px-lg-3 mb-4 mb-md-0">
          <a href="/blog/2019/pspdfkit-ios-9/#pspdfkitswift">
            <img src="/images/shared/placeholder.gif"
                 data-src="/images/pdf-sdk/ios/cta/ios-13/pspdfkitswift.png"
                 class="mb-3 img-fluid lazyload"
                 loading="lazy"
                 width="116"
                 alt=""><br />
            <p class="small text-muted mb-0">
              PSPDFKitSwift
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
