<section class="section">
  <div class="container">
    <div class="card card-hoverable animated">
      <div class="card-body overflow-hidden">
        <div class="row align-items-center">
          <div class="col-lg-2 pull-lg-1 d-none d-lg-block">
            <img src="/images/icons/sync.svg" alt="" class="img-fluid">
          </div>
          <div class="col-lg-7">
            <h3 class="card-title text-brand">PSPDFKit Instant</h3>
            <p class="card-lead lead mb-4 mb-lg-0">
              See Instant sync your markup and comments in real time across web and PDF Viewer for iOS and Android.
            </p>
          </div>
          <div class="col-lg-3 ml-auto">
            <a href="/instant/demo/" class="btn btn-lg btn-block btn-brand">
              Try Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
