<div class="row">

  <!-- Viewer -->
  <div class="col-lg-6 mb-4">
    <div class="card overflow-hidden sh-1">
      <div class="row align-items-center">
        <div class="col-2">
          <img src="/images/home/icon-cta-viewer.svg" alt="" class="card-img-icon">
        </div>
        <div class="col">
          <div class="card-body">
            <h3 class="text-brand mb-2">App Demo</h3>
            <p class="text-muted mb-2">
              Try our mobile SDK with our free apps.
            </p>
            <a href="https://pdfviewer.io/store-ios" class="btn btn-link px-0 mr-3">
              <i class="fa fa-lg fa-ios"></i>
              iOS
            </a>
            <a href="https://pdfviewer.io/store-android" class="btn btn-link px-0 mr-3">
              <i class="fa fa-lg fa-android"></i>
              Android
            </a>
            <a href="https://pdfviewer.io/store-mac" class="btn btn-link px-0">
              <i class="fa fa-lg fa-macos"></i>
              macOS
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Web -->
  <div class="col-lg-6 mb-4">
    <div class="card overflow-hidden sh-1">
      <div class="row align-items-center">
        <div class="col-2">
          <img src="/images/home/icon-cta-web.svg" alt="" class="card-img-icon">
        </div>
        <div class="col">
          <div class="card-body">
            <h3 class="text-brand mb-2">Web Demo</h3>
            <p class="text-muted mb-2">
              Try our Web SDK in your browser.
            </p>
            <a href="https://web-examples.pspdfkit.com" class="btn btn-link btn-link-brand px-0 mr-3">
              <i class="fa fa-lg fa-web"></i>
              View Demo
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
