<%
title ||= current_page.data.title || "PSPDFKit SDK"
id    ||= "get-started"
%>

<section id="<%= id %>" class="py-lg-5">
  <div class="container">
    <div class="card card-hoverable animated mb-5">
      <div class="card-body overflow-hidden">
        <div class="row align-items-center">
          <div class="col-lg-2 pull-lg-1 d-none d-lg-block">
            <img src="/images/icons/try.svg" alt="" class="img-fluid">
          </div>
          <div class="col-lg-11 mb-4 mb-lg-0">
            <h3 class="card-title text-brand mb-2">Free 60-Day Trial</h3>
            <p class="card-lead lead">
              Download <strong><%= title %></strong> and try it in your app today.
            </p>
            <%= partial 'shared/cta_try_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
