<figure class="device device-browser">
  <div class="device-browser-toolbar">
    <div class="device-browser-toolbar-input">
      <input data-pspdfkit-web-url class="form-control" type="text" readonly value="https://pspdfkit.com/" />
      <a data-pspdfkit-web-link href="https://pspdfkit.com/" target="_blank" rel="noopener" class="btn-outline-brand">Open Document</a>
    </div>
  </div>
  <div class="device-browser-viewport">
    <%= yield %>
  </div>
</figure>
