<% theme ||= current_platform %>

<footer class="footer">
  <div class="container">
    <div class="row">

      <% unless current_page.data.footer == 'mini' %>

        <!-- Products -->
        <div class="col-6 col-sm-4 col-md-3 mb-4 mb-0-sm">
          <h6 class="footer-title text-brand-light">Products</h6>
          <ul class="footer-nav list-unstyled">
            <li><a href="/pdf-sdk/ios/">iOS PDF SDK</a></li>
            <li><a href="/pdf-sdk/android/">Android PDF Library</a></li>
            <li><a href="/pdf-sdk/web/">Web PDF Viewer</a></li>
            <li><a href="/pdf-sdk/electron/">Electron PDF Viewer</a></li>
            <li><a href="/pdf-sdk/windows/">Windows UWP PDF Library</a></li>
            <li><a href="/pdf-sdk/macos/">macOS PDF SDK</a></li>
            <li><a href="/pdf-library/dotnet/">.NET PDF Library</a></li>
            <li><a href="/pdf-library/java/">Java PDF Library</a></li>
            <li><a href="/instant/">Instant Sync Engine</a></li>
            <li><a href="https://pdfviewer.io/">PDF Viewer Pro App</a></li>
          </ul>
        </div>

        <!-- Developers -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4 mb-0-sm">
          <h6 class="footer-title text-brand-light">Developers</h6>
          <ul class="footer-nav list-unstyled">
            <li><a href="/developers/">Developer Portal</a></li>
            <li><a href="/guides/ios/">Documentation</a></li>
            <li><a href="/api/ios/">API Reference</a></li>
            <li><a href="/changelog/ios/">Changelog</a></li>
            <li><a href="/support/request/">Support</a></li>
          </ul>
        </div>

        <!-- Company -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4 mb-0-sm">
          <h6 class="footer-title text-brand-light">Company</h6>
          <ul class="footer-nav list-unstyled">
            <li><a href="/about/">About</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/careers/">Careers</a></li>
            <li><a href="/legal/">Legal</a></li>
          </ul>
        </div>

        <!-- Keep in touch -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4 mb-0-sm">
          <h6 class="footer-title text-brand-light">Keep in Touch</h6>
          <ul class="footer-nav list-unstyled">
            <li><a href="/newsletter/">Newsletter</a></li>
            <li><a href="https://twitter.com/pspdfkit">Twitter</a>
            <li><a href="https://facebook.com/pspdfkit">Facebook</a></li>
            <li><a href="https://instagram.com/pspdfkit">Instagram</a></li>
          </ul>
        </div>

      <!-- App Store Links -->
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4 mb-0-sm">
        <h6 class="footer-title text-brand-light">Try Our PDF Apps</h6>
          <a href="https://pdfviewer.io/store-ios" class="d-inline-block mb-3">
            <img src="/images/shared/placeholder.gif" data-src="/images/shared/app-store.svg" height="48" class="lazyload" loading="lazy">
          </a>
          <a href="https://pdfviewer.io/store-android" class="d-inline-block mb-3">
            <img src="/images/shared/placeholder.gif" data-src="/images/shared/google-play.svg" height="48" class="lazyload" loading="lazy">
          </a>
          <a href="https://pdfviewer.io/store-mac" class="d-inline-block mb-3">
            <img src="/images/shared/placeholder.gif" data-src="/images/shared/mac-app-store.svg" height="48" class="lazyload" loading="lazy">
          </a>
      </div>

      <% end %>

      <!-- Copyright -->
      <div class="col-12">
        <p class="footer-copyright">Copyright © 2010-2019 PSPDFKit GmbH. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
