<header class="header">
  <%= partial 'shared/nav_bar_desktop' %>
  <%= partial 'shared/nav_bar_mobile' %>

  <!-- Team Member Status -->
  <span data-controller="team-cookie-get" class="alert-badge badge badge-warning invisible">Team</span>
</header>
