<!-- Mobile -->
<nav class="nav-bar nav-bar-mobile">

  <!-- Brand -->
  <a class="nav-brand" href="/">
    <img src="/images/shared/pspdfkit.png" alt="PSPDFKit" width="40">
  </a>

  <!-- Hamburger -->
  <button class="nav-toggler"
          type="button"
          aria-label="Toggle navigation"
          data-toggle="modal"
          data-target="#nav-mobile"
          data-backdrop="false">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Modal -->
  <div class="modal nav-modal fade" id="nav-mobile" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>

        <div class="modal-block">
          <h6 class="modal-subtitle">Products</h6>
          <div class="row">
            <div class="col-sm-6">

              <!-- iOS -->
              <a class="modal-media d-flex align-items-center" href="/pdf-sdk/ios/">
                <div class="media-object mr-3">
                  <i class="fa fa-xl fa-ios text-ios"></i>
                </div>
                <div class="media-body">
                  <strong>PSPDFKit for iOS</strong>
                </div>
              </a>

              <!-- Android -->
              <a class="modal-media d-flex align-items-center" href="/pdf-sdk/android/">
                <div class="media-object mr-3">
                  <i class="fa fa-xl fa-android text-android"></i>
                </div>
                <div class="media-body">
                  <strong>PSPDFKit for Android</strong>
                </div>
              </a>

              <!-- Web -->
              <a class="modal-media d-flex align-items-center" href="/pdf-sdk/web/">
                <div class="media-object mr-3">
                  <i class="fa fa-xl fa-web text-web"></i>
                </div>
                <div class="media-body">
                  <strong>PSPDFKit for Web</strong>
                </div>
              </a>

            </div>

            <div class="col-sm-6">

              <!-- Windows -->
              <a class="modal-media d-flex align-items-center" href="/pdf-sdk/windows/">
                <div class="media-object mr-3">
                  <i class="fa fa-xl fa-windows text-windows"></i>
                </div>
                <div class="media-body">
                  <strong>PSPDFKit for Windows</strong>
                </div>
              </a>

              <!-- macOS -->
              <a class="modal-media d-flex align-items-center" href="/pdf-sdk/macos/">
                <div class="media-object mr-3">
                  <i class="fa fa-xl fa-macos text-macos"></i>
                </div>
                <div class="media-body">
                  <strong>PSPDFKit for macOS</strong>
                </div>
              </a>

              <!-- Instant -->
              <a class="modal-media d-flex align-items-center" href="/instant/">
                <div class="media-object mr-3">
                  <i class="fa fa-xl fa-instant text-instant"></i>
                </div>
                <div class="media-body">
                  <strong>PSPDFKit Instant</strong>
                </div>
              </a>

            </div>

            <!-- SDK -->
            <div class="col-12">
              <a class="small" href="/pdf-sdk/">
                All our SDK products <i class="fa fa-arrow-right ml-1"></i>
              </a>
            </div>
          </div>

          <hr />

          <!-- Rest -->
          <div class="row">
            <div class="col-6">
              <ul class="modal-list list-unstyled">
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/developers/">Developers</a></li>
                <li><a href="https://customers.pspdfkit.com/">Customer Portal</a></li>
              </ul>
            </div>
            <div class="col-6">
              <ul class="modal-list list-unstyled">
                <li><a href="/careers/">Careers</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/legal/">Legal</a></li>
              </ul>
            </div>
          </div>

          <hr />

          <!-- CTA -->
          <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <a href="/try/" class="btn btn-block btn-outline-brand">
                Download Trial
              </a>
            </div>
            <div class="col-sm-6">
              <a href="/sales/" class="btn btn-block btn-brand">
                Contact Sales
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</nav>
