<form action="https://pspdfkit.createsend.com/t/j/s/qbtjj/" method="post" class="card-form">
  <div class="row">
    <div class="col-lg-7 mb-4 mb-lg-0">
      <input type="email" name="cm-qbtjj-qbtjj" required class="form-control form-control-brand" placeholder="name@company.com">
    </div>
    <div class="col-lg-5">
      <button type="submit" name="button" class="btn btn-lg btn-block btn-brand">
        Subscribe
      </button>
    </div>
  </div>
</form>
