<%
title ||= "PDF Viewer"
%>

<section class="section py-lg-0 bg-neutral-dark">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <header>
          <h2>Try <%= title %></h2>
        </header>
        <p>
          To see our SDK in action, download our <strong>PDF Viewer</strong> app from the App Store
          or Google Play Store for <strong>free</strong>. Try it now!
        </p>
        <p class="mb-0">
          <a href="https://pdfviewer.io/store-ios" class="d-inline-block mr-3 mb-3 mb-lg-0">
            <img src="/images/shared/placeholder.gif"
                 data-src="/images/shared/app-store.svg"
                 alt="Download on the App Store"
                 width="150"
                 class="lazyload"
                 loading="lazy">
          </a>
          <a href="https://pdfviewer.io/store-android" class="d-inline-block">
            <img src="/images/shared/placeholder.gif"
                 data-src="/images/shared/google-play.svg"
                 alt="Get it on Google Play"
                 width="150"
                 class="lazyload"
                 loading="lazy">
          </a>
        </p>
      </div>
      <div class="col-sm-4 mt-0 overflow-hidden d-none d-md-block" style="max-height: 435px;">
        <% partial "shared/device_#{device}" do %>
          <a href="https://pdfviewer.io/store-<%= current_platform %>/">
            <img src="/images/shared/placeholder.gif"
                  data-src="<%= image %>"
                  alt="Try <%= title %>"
                  class="img-fluid lazyload"
                  loading="lazy">
          </a>
        <% end %>
      </div>
    </div>
  </div>
</section>
