<section id="showcase" class="section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-lg-8">
        <header class="text-center">
          <h6 class="text-brand">Showcase</h6>
          <h2>Apps Powered by PSPDFKit</h2>
        </header>
        <p>
          We’re extremely proud of all the amazing apps that have been built with the help of
          PSPDFKit. Our main goal has always been providing developers with the highest-quality
          tools so they can focus on making the best apps possible.
        </p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <% %w(Dropbox Box Scanbot Gumroad Procore Scribd).each do |a| %>
        <div class="col-3 col-sm-2 text-center">
          <div class="px-lg-3 px-xl-4 mb-4 mb-md-0">
            <img src="/images/shared/placeholder.gif"
                 data-src="/images/logos/<%= a.downcase %>-app.png"
                 class="rounded-app sh-1 mb-3 img-fluid lazyload"
                 loading="lazy"
                 alt="<%= a %>"><br />
            <p class="small text-muted mb-0">
              <%= a %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
