<section id="why-pspdfkit" class="section mb-0 pb-0">
  <div class="container">
    <div class="row justify-content-center pb-4 text-center">
      <div class="col-lg-8">
        <header>
          <h6 class="text-brand">The PSPDFKit Advantage</h6>
          <h2>Why PSPDFKit</h2>
        </header>
        <p>
          We want you and your apps to be successful. Our team works hard to ensure development with
          PSPDFKit is the best experience possible.
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 col-sm-4 col-lg-3 mb-4">
        <p class="text-center mb-3">
          <img src="/images/shared/placeholder.gif" data-src="/images/icons/easy.svg" alt="" class="img-fluid lazyload" loading="lazy" style="max-width: 90px;">
        </p>
        <h3 class="h5">Easy to Set Up</h3>
        <p class="small">
          It’s easy to get started with PSPDFKit, which gives you time to focus on
          making your app great!
        </p>
      </div>
      <div class="col-6 col-sm-4 col-lg-3 mb-4">
        <p class="text-center mb-3">
          <img src="/images/shared/placeholder.gif" data-src="/images/icons/cross-platform.svg" alt="" class="img-fluid lazyload" loading="lazy" style="max-width: 90px;">
        </p>
        <h3 class="h5">Cross-Platform</h3>
        <p class="small">
          The PDF features you need on every platform — from viewing and annotations
          to editing across mobile, desktop, and web.
        </p>
      </div>
      <div class="col-6 col-sm-4 col-lg-3 mb-4">
        <p class="text-center mb-3">
          <img src="/images/shared/placeholder.gif" data-src="/images/icons/tested.svg" alt="" class="img-fluid lazyload" loading="lazy" style="max-width: 90px;">
        </p>
        <h3 class="h5">Battle-Tested</h3>
        <p class="small">
          Our products are built to perform and used in some of the most demanding environments.
        </p>
      </div>
      <div class="col-6 col-sm-4 col-lg-3 mb-4">
        <p class="text-center mb-3">
          <img src="/images/shared/placeholder.gif" data-src="/images/icons/ux.svg" alt="" class="img-fluid lazyload" loading="lazy" style="max-width: 90px;">
        </p>
        <h3 class="h5">Great User Experience</h3>
        <p class="small">
          Built with smart, simple design that’s easy to use and navigate, providing
          the best user experience on the market.
        </p>
      </div>
      <div class="col-6 col-sm-4 col-lg-3 mb-4">
        <p class="text-center mb-3">
          <img src="/images/shared/placeholder.gif" data-src="/images/icons/customizable.svg" alt="" class="img-fluid lazyload" loading="lazy" style="max-width: 90px;">
        </p>
        <h3 class="h5">Customizable</h3>
        <p class="small">
          Ready to go out of the box, but with a rich API enabling customization
          of every detail.
        </p>
      </div>
      <div class="col-6 col-sm-4 col-lg-3 mb-4">
        <p class="text-center mb-3">
          <img src="/images/shared/placeholder.gif" data-src="/images/icons/secure.svg" alt="" class="img-fluid lazyload" loading="lazy" style="max-width: 90px;">
        </p>
        <h3 class="h5">Secure</h3>
        <p class="small">
          Built using the <a href="https://pspdfkit.com/guides/ios/current/security/introduction-to-encryption/" class="link-brand">latest and best security practices</a> and trusted by government, military,
          and medical organizations.
        </p>
      </div>
      <div class="col-6 col-sm-4 col-lg-3 mb-4">
        <p class="text-center mb-3">
          <img src="/images/shared/placeholder.gif" data-src="/images/icons/documentation.svg" alt="" class="img-fluid lazyload" loading="lazy" style="max-width: 90px;">
        </p>
        <h3 class="h5">Fully Documented</h3>
        <p class="small">
          PSPDFKit comes with extensive documentation, guide articles, and sample
          projects.
        </p>
      </div>
      <div class="col-6 col-sm-4 col-lg-3 mb-4">
        <p class="text-center mb-3">
          <img src="/images/shared/placeholder.gif" data-src="/images/icons/support.svg" alt="" class="img-fluid lazyload" loading="lazy" style="max-width: 90px;">
        </p>
        <h3 class="h5">Human Support</h3>
        <p class="small">
          If you ever need assistance, you get direct access to the engineers who built the product.
        </p>
      </div>
    </div>
  </div>
</section>
