<% title_class ||= 'h2' %>

<section id="overview" class="section pt-3 pt-md-5 mb-0">
  <div class="container">
    <div class="row flex-md-row-reverse justify-content-center align-items-center">
      <div class="col-md-6 mb-4 mb-lg-0">
        <a href="https://web-examples.pspdfkit.com/" class="link-img">
          <img src="/images/pdf-sdk/windows/hero.png" width="635" class="img-fluid lazyload svg-sh-2" loading="lazy">
        </a>
      </div>
      <div class="col-lg-5">
        <header>
          <h6 class="text-brand"><%= subtitle %></h6>
          <h1 class="<%= title_class %>"><%= title %></h1>
        </header>
        <div class="mb-4">
          <%= markdown(body) %>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <a href="https://pspdfkit.com/try/" class="btn btn-lg btn-block btn-brand" target="_blank" rel="noopener">
              Download Trial
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
