<!-- Sub Nav -->
<div class="nav-sub is-sticky" data-controller="sticky-nav smooth-scroll" data-action="scroll@window->sticky-nav#scroll">
  <div class="container">
    <div class="d-flex w-100 justify-content-md-center justify-content-lg-start align-items-center">
      <div class="mr-auto">
        <ul class="nav flex-nowrap nav-collapse">
          <% %w(Overview Features Architecture Integration Get-Started).each do |i| %>
            <li class="nav-item">
              <a class="nav-link nav-link-brand" href="#<%= i.parameterize %>">
                <%= i.gsub('-', ' ') %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="ml-auto d-none d-lg-block">
        <ul class="nav nav-block">
          <li class="nav-item">
            <a class="nav-link nav-link-brand nav-btn" href="/try/">
              <span class="d-block d-lg-none">Download</span>
              <span class="d-none d-lg-block">Download Trial</span>
            </a>
          </li>
          <li class="nav-item ml-3">
            <a class="nav-link nav-btn btn-brand" href="/sales/">
              <span class="d-block d-lg-none">Contact</span>
              <span class="d-none d-lg-block">Contact Sales</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
