---
hide_from_sitemap: true
---

<%#
This page sets a `pspdfkit_team=true` cookie which modifies some site features:

  - Analytics: disabled (so internal traffic does not skew our stats).
    If the token is set a 'TEAM' badge is shown at the top-right of the page.
%>

<section class="section">
  <div class="container text-center" data-controller="team-cookie-set">
    <h1>PSPDFKit Team Member</h1>
    <p class="lead">
      Setting cookie...
    </p>
  </div>
</section>
