<section id="comparison" class="section">
  <div class="container">
    <header class="text-center mb-5">
      <h6 class="text-brand">Comparison</h6>
      <h2>Compare the Features of Our SDKs</h2>
    </header>

    <div class="row justify-content-center mb-5">
      <div class="col-lg-10">
        <table class="table table-neutral table-hover table-responsive-md">
          <colgroup>
            <col>
            <col span="5" class="table-col-focus" />
          </colgroup>
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th class="text-center text-nowrap">
                <i class="fa fa-ios text-ios mr-1"></i>
                iOS
              </th>
              <th class="text-center text-nowrap">
                <i class="fa fa-android text-android mr-1"></i>
                Android
              </th>
              <th class="text-center text-nowrap">
                <i class="fa fa-web text-web mr-1"></i>
                Web
              </th>
              <th class="text-center text-nowrap">
                <i class="fa fa-windows text-windows mr-1"></i>
                Windows
              </th>
              <th class="text-center text-nowrap">
                <i class="fa fa-macos text-macos mr-1"></i>
                macOS
              </th>
            </tr>
          </thead>
          <tbody>

            <!-- Viewer -->
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="bg-white sq-50 sh-1 rounded-app d-none d-sm-flex">
                    <img src="/images/shared/placeholder.gif" data-src="/images/icons/viewer.svg" alt="" class="grayscale lazyload" loading="lazy" width="35">
                  </div>
                  <span class="ml-sm-3">Viewer</span>
                </div>
              </th>
              <td class="text-center">
                <a href="/pdf-sdk/ios/viewer/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/android/viewer/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/web/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/windows/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <i class="fa fa-lg fa-times text-silent"></i>
              </td>
            </tr>

            <!-- Annotations -->
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="bg-white sq-50 sh-1 rounded-app d-none d-sm-flex">
                    <img src="/images/shared/placeholder.gif" data-src="/images/icons/annotations.svg" alt="" class="grayscale lazyload" loading="lazy" width="35">
                  </div>
                  <span class="ml-sm-3">Annotations</span>
                </div>
              </th>
              <td class="text-center">
                <a href="/pdf-sdk/ios/annotations/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/android/annotations/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/web/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/windows/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/macos/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
            </tr>

            <!-- Forms -->
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="bg-white sq-50 sh-1 rounded-app d-none d-sm-flex">
                    <img src="/images/shared/placeholder.gif" data-src="/images/icons/forms.svg" alt="" class="grayscale lazyload" loading="lazy" width="35">
                  </div>
                  <span class="ml-sm-3">Forms</span>
                </div>
              </th>
              <td class="text-center">
                <a href="/pdf-sdk/ios/forms/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/android/forms/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/web/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/windows/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/macos/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
            </tr>

            <!-- Form Designer -->
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="bg-white sq-50 sh-1 rounded-app d-none d-sm-flex">
                    <img src="/images/shared/placeholder.gif" data-src="/images/icons/form-designer.svg" alt="" class="grayscale lazyload" loading="lazy" width="35">
                  </div>
                  <span class="ml-sm-3">Form Designer</span>
                </div>
              </th>
              <td class="text-center">
                <i class="fa fa-lg fa-times text-silent"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-lg fa-times text-silent"></i>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/web/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <i class="fa fa-lg fa-times text-silent"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-lg fa-times text-silent"></i>
              </td>
            </tr>

            <!-- Digital Signatures -->
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="bg-white sq-50 sh-1 rounded-app d-none d-sm-flex">
                    <img src="/images/shared/placeholder.gif" data-src="/images/icons/signatures.svg" alt="" class="grayscale lazyload" loading="lazy" width="35">
                  </div>
                  <span class="ml-sm-3">Digital Signatures</span>
                </div>
              </th>
              <td class="text-center">
                <a href="/pdf-sdk/ios/digital-signatures/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/android/digital-signatures/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/web/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/windows/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/macos/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
            </tr>

            <!-- Full-Text Search -->
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="bg-white sq-50 sh-1 rounded-app d-none d-sm-flex">
                    <img src="/images/shared/placeholder.gif" data-src="/images/icons/search.svg" alt="" class="grayscale lazyload" loading="lazy" width="35">
                  </div>
                  <span class="ml-sm-3">Full-Text Search</span>
                </div>
              </th>
              <td class="text-center">
                <a href="/pdf-sdk/ios/indexed-search/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/android/indexed-search/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <i class="fa fa-lg fa-times text-silent"></i>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/windows/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/macos/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
            </tr>

            <!-- Document Editor -->
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="bg-white sq-50 sh-1 rounded-app d-none d-sm-flex">
                    <img src="/images/shared/placeholder.gif" data-src="/images/icons/document-editor.svg" alt="" class="grayscale lazyload" loading="lazy" width="35">
                  </div>
                  <span class="ml-sm-3">Document Editor</span>
                </div>
              </th>
              <td class="text-center">
                <a href="/pdf-sdk/ios/document-editor/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/android/document-editor/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/web/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/windows/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/macos/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
            </tr>

            <!-- Replies -->
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="bg-white sq-50 sh-1 rounded-app d-none d-sm-flex">
                    <img src="/images/shared/placeholder.gif" data-src="/images/icons/replies.svg" alt="" class="grayscale lazyload" loading="lazy" width="35">
                  </div>
                  <span class="ml-sm-3">Replies</span>
                </div>
              </th>
              <td class="text-center">
                <a href="/pdf-sdk/ios/replies/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/android/replies/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <i class="fa fa-lg fa-times text-silent"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-lg fa-times text-silent"></i>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/macos/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
            </tr>

            <!-- Instant Comments -->
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="bg-white sq-50 sh-1 rounded-app d-none d-sm-flex">
                    <img src="/images/shared/placeholder.gif" data-src="/images/icons/instant-comments.svg" alt="" class="grayscale lazyload" loading="lazy" width="35">
                  </div>
                  <span class="ml-sm-3">Instant Comments</span>
                </div>
              </th>
              <td class="text-center">
                <i class="fa fa-lg fa-times text-silent"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-lg fa-times text-silent"></i>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/web/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <i class="fa fa-lg fa-times text-silent"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-lg fa-times text-silent"></i>
              </td>
            </tr>

            <!-- Image Documents -->
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="bg-white sq-50 sh-1 rounded-app d-none d-sm-flex">
                    <img src="/images/shared/placeholder.gif" data-src="/images/icons/image-documents.svg" alt="" class="grayscale lazyload" loading="lazy" width="35">
                  </div>
                  <span class="ml-sm-3">Image Documents</span>
                </div>
              </th>
              <td class="text-center">
                <a href="/pdf-sdk/ios/image-documents/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/android/image-documents/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <i class="fa fa-lg fa-times text-silent"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-lg fa-times text-silent"></i>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/macos/#features">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
            </tr>

            <!-- Redaction -->
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="bg-white sq-50 sh-1 rounded-app d-none d-sm-flex">
                    <img src="/images/shared/placeholder.gif" data-src="/images/icons/redaction.svg" alt="" class="grayscale lazyload" loading="lazy" width="35">
                  </div>
                  <span class="ml-sm-3">Redaction</span>
                </div>
              </th>
              <td class="text-center">
                <a href="/pdf-sdk/redaction/#ios">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/redaction/#android">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <span class="badge badge-pill badge-brand">
                  Coming Soon
                </span>
              </td>
              <td class="text-center">
                <span class="badge badge-pill badge-brand">
                  Coming Soon
                </span>
              </td>
              <td class="text-center">
                <i class="fa fa-lg fa-check text-brand"></i>
              </td>
            </tr>

            <!-- Comparison -->
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="bg-white sq-50 sh-1 rounded-app d-none d-sm-flex">
                    <img src="/images/shared/placeholder.gif" data-src="/images/icons/comparison.svg" alt="" class="grayscale lazyload" loading="lazy" width="35">
                  </div>
                  <span class="ml-sm-3">Comparison</span>
                </div>
              </th>
              <td class="text-center">
                <a href="/pdf-sdk/comparison/#ios">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/pdf-sdk/comparison/#android">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <i class="fa fa-lg fa-times text-silent"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-lg fa-times text-silent"></i>
              </td>
              <td class="text-center">
                <i class="fa fa-lg fa-check text-brand"></i>
              </td>
            </tr>

            <!-- Instant -->
            <tr>
              <th scope="row">
                <div class="d-flex align-items-center">
                  <div class="bg-white sq-50 sh-1 rounded-app d-none d-sm-flex">
                    <img src="/images/shared/placeholder.gif" data-src="/images/icons/instant.svg" alt="" class="grayscale lazyload" loading="lazy" width="35">
                  </div>
                  <span class="ml-sm-3">Instant</span>
                </div>
              </th>
              <td class="text-center">
                <a href="/instant/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/instant/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <a href="/instant/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
              <td class="text-center">
                <i class="fa fa-lg fa-times text-silent"></i>
              </td>
              <td class="text-center">
                <a href="/instant/">
                  <i class="fa fa-lg fa-check text-brand"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Demo CTA -->
  <div class="container">
    <header class="text-center mb-5">
      <h6 class="text-brand">Demo Apps</h6>
      <h2>Try Our SDKs</h2>
    </header>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <%= partial 'shared/cta_demo' %>
      </div>
    </div>
  </div>

</section>
