---
import { Separator } from './ui/separator'
import { SOCIAL_LINKS } from '../consts'
import Link from './Link.astro'
import SocialIcons from './SocialIcons.astro'

const today = new Date();
---

<footer class="py-4">
  <div
    class="mx-auto flex max-w-3xl flex-col items-center justify-center gap-y-2 px-4 sm:flex-row sm:justify-between"
  >
    <div class="flex flex-wrap items-center justify-center gap-x-2 text-center">
      <span class="text-muted-foreground text-sm">
        &copy; {today.getFullYear()} Peter Steinberger. Some rights reserved.
      </span>
      <Separator orientation="vertical" className="hidden h-4! sm:block" />
      <p class="text-muted-foreground text-sm">
        Built with <Link
          href="https://astro.build"
          class="text-foreground"
          external
          underline>Astro</Link
        >
      </p>
    </div>
    <SocialIcons links={SOCIAL_LINKS} />
  </div>
</footer>