---
import Link from './Link.astro'
import ThemeToggle from './ThemeToggle.astro'
import MobileMenu from './ui/mobile-menu'
import { NAV_LINKS, SITE } from '../consts'
---

<header
  class="bg-background/50 dark:bg-gray-900/90 sticky top-0 z-10 backdrop-blur-md"
  transition:persist
>
  <div
    class="mx-auto flex max-w-3xl flex-wrap items-center justify-between gap-4 p-4"
  >
    <Link href="/" class="flex shrink-0 items-center gap-2 text-xl font-medium">
      {SITE.title}
    </Link>
    <div class="flex items-center gap-2 md:gap-4">
      <nav class="hidden items-center gap-4 text-sm sm:gap-6 md:flex">
        {
          NAV_LINKS.map((item) => (
            <Link
              href={item.href}
              class="text-foreground/60 hover:text-muted-foreground capitalize transition-colors"
            >
              {item.label}
            </Link>
          ))
        }
      </nav>
      <MobileMenu client:load transition:persist />
      <ThemeToggle transition:persist />
    </div>
  </div>
</header>