<form id="try-now-form"
      action="<%= LICENSE_API_URL %>trial_request"
      method="post"
      data-controller="form-remote form-validation"
      data-form-remote-client-id-name="trial_request[gclid]"
      data-form-remote-success-url="/try/thanks"
      data-form-remote-recaptcha-site-key="<%= GOOGLE_RECAPTCHA_SITE_KEY %>"
      data-form-remote-recaptcha-action="trial_form"
      data-action="submit->form-remote#submit
                   change->form-remote#change
                   change->form-validation#change">

  <!-- reCAPTCHA -->
  <input type="hidden"
    data-target="form-remote.recaptchaInput"
    name="trial_request[recaptcha_response]"
    value="">

  <!-- Email -->
  <div class="form-group required">
    <label class="form-control-label" for="trial_request_email">
      Your company email
    </label>
    <input type="email"
      id="trial_request_email"
      class="form-control"
      name="trial_request[email]"
      data-target="form-remote.email"
      placeholder="name@company.com"
      required>
  </div>

  <!-- Name -->
  <div class="form-group">
    <label class="form-control-label" for="trial_request_name">
      Your name
    </label>
    <input type="text" id="trial_request_name" name="trial_request[name]" class="form-control" placeholder="Full Name">
  </div>

  <!-- Company -->
  <div class="form-group mb-4">
    <label class="form-control-label" for="trial_request_company">
      Your company's name
    </label>
    <input type="text" id="trial_request_company" name="trial_request[company]" class="form-control" placeholder="Enter company">
  </div>

  <!-- Products -->
  <div class="form-group required mb-5" data-target="form-validation.checkboxGroup">
    <label class="form-control-label mb-3">
      Which products are you interested in?
    </label>
    <input type="hidden" id="trial_rqeuest_platforms">
    <div class="row mb-2">
      <div class="col-6 col-md-4">
        <div class="form-check">
          <input type="checkbox"
                 id="trial_request_platforms_ios"
                 name="trial_request[platforms][]"
                 value="ios"
                 data-name="platform"
                 data-target="form-remote.platform"
                 class="form-check-input">
          <label class="form-check-label" for="trial_request_platforms_ios">
            <i class="fa fa-lg fa-ios mr-1 text-ios"></i>
            iOS
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox"
                 id="trial_request_platforms_android"
                 name="trial_request[platforms][]"
                 value="android"
                 data-name="platform"
                 data-target="form-remote.platform"
                 class="form-check-input">
          <label class="form-check-label" for="trial_request_platforms_android">
            <i class="fa fa-lg fa-android mr-1 text-android"></i>
            Android
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox"
                   id="trial_request_platforms_web"
                   name="trial_request[platforms][]"
                   value="web"
                   data-name="platform"
                   data-target="form-remote.platform"
                   class="form-check-input">
            <i class="fa fa-lg fa-web mr-1 text-web"></i>
            Web
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox"
                 id="trial_request_platforms_windows"
                 name="trial_request[platforms][]"
                 value="windows"
                 data-name="platform"
                 data-target="form-remote.platform"
                 class="form-check-input">
          <label class="form-check-label" for="trial_request_platforms_windows">
            <i class="fa fa-lg fa-windows mr-1 text-windows"></i>
            Windows
          </label>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="form-check">
          <input type="checkbox"
                 id="trial_request_platforms_macos"
                 name="trial_request[platforms][]"
                 value="macos"
                 data-name="platform"
                 data-target="form-remote.platform"
                 class="form-check-input">
          <label class="form-check-label" for="trial_request_platforms_macos">
            <i class="fa fa-lg fa-macos mr-1 text-macos"></i>
            macOS
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox"
                 id="trial_request_platforms_electron"
                 name="trial_request[platforms][]"
                 value="electron"
                 data-name="platform"
                 data-target="form-remote.platform"
                 class="form-check-input">
          <label class="form-check-label" for="trial_request_platforms_electron">
            <i class="fa fa-lg fa-electron mr-1 text-brand"></i>
            Electron
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox"
                 id="trial_request_platforms_dotnet"
                 name="trial_request[platforms][]"
                 value="dotnet"
                 data-name="platform"
                 data-target="form-remote.platform"
                 class="form-check-input">
          <label class="form-check-label" for="trial_request_platforms_dotnet">
            <i class="fa fa-lg fa-dotnet mr-1 text-alt"></i>
            .NET
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox"
                 id="trial_request_platforms_java"
                 name="trial_request[platforms][]"
                 value="java"
                 data-name="platform"
                 data-target="form-remote.platform"
                 class="form-check-input">
          <label class="form-check-label" for="trial_request_platforms_java">
            <i class="fa fa-lg fa-java mr-1 text-alt"></i>
            Java
          </label>
        </div>
      </div>
    </div>
    <div class="form-check">
      <input type="checkbox"
                 id="trial_request_platforms_instant"
                 name="trial_request[platforms][]"
                 value="instant"
                 data-name="platform"
                 data-target="form-remote.platform"
             class="form-check-input">
      <label class="form-check-label text-nowrap" for="trial_request_platforms_instant">
        <i class="fa fa-lg fa-instant mr-1 text-alt"></i>
        Instant
      </label>
      <p class="form-text small text-muted">
        Smart, fast, offline-capable document and annotation sync engine.
      </p>
    </div>
  </div>

  <!-- Submit -->
  <div class="form-group mb-4">
    <button type="submit" class="btn btn-lg btn-brand"
      data-target="form-remote.submit form-validation.submit"
      data-action="click->form-validation#beforeSubmit"
      disabled>
      Get Download Link
    </button>
  </div>

  <!-- Disclaimer -->
  <div class="form-group mb-0">
    <p class="small text-muted mb-2">
      The data you submit is treated confidentially and will never be disclosed to third parties. We may occasionally send you product news and important announcements.
    </p>
    <p class="small text-muted mb-2">
      By downloading and evaluating the trial, you accept the terms of the <a href="/legal/license/">evaluation license agreement</a>.
    </p>
    <p class="small text-muted mb-2">
      This site is protected by reCAPTCHA and the Google
      <a href="https://policies.google.com/privacy">Privacy Policy</a> and
      <a href="https://policies.google.com/terms">Terms of Service</a> apply.
    </p>
  </div>
</form>
