---
title: Confirmation | Download Trial
section: try
header: false
footer: false
hide_from_sitemap: true
---

<div class="content-backdrop content-backdrop-sm bg-brand-darker">
</div>

<section class="section mt-lg-5 pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body text-center">
            <header class="text-center">
              <a href="/">
                <img src="/images/shared/pspdfkit.png" alt="PSPDFKit" width="60" class="mb-3">
              </a>
              <h1>
                Email Confirmed
              </h1>
              <p class="lead">
                You will receive <strong>another email</strong> shortly with your evaluation license details and a link to download PSPDFKit.
              </p>
              <hr>
              <p class="text-muted mb-0">
                Didn't receive an email?<br>
                Please contact us at <a href="mailto:sales@pspdfkit.com">sales@pspdfkit.com</a>.
              </p>
            </header>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <header class="text-center">
      <p class="text-muted">
        <strong>Our example projects will get you up and running quickly:</strong>
      </p>
    </header>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row justify-content-center text-center op-7">
          <div class="col-6 col-sm-2 mb-5">
            <a href="/guides/ios/current/getting-started/example-projects/">
              <i class="fa fa-xl fa-ios"></i><br>
              iOS
            </a>
          </div>
          <div class="col-6 col-sm-2 mb-5">
            <a href="/guides/android/current/getting-started/example-projects/">
              <i class="fa fa-xl fa-android"></i><br>
              Android
            </a>
          </div>
          <div class="col-6 col-sm-2 mb-5">
            <a href="/guides/web/current/pspdfkit-for-web/example-projects/">
              <i class="fa fa-xl fa-web"></i><br>
              Web
            </a>
          </div>
          <div class="col-6 col-sm-2 mb-5">
            <a href="/guides/web/current/pspdfkit-for-electron/example-project/">
              <i class="fa fa-xl fa-electron"></i><br>
              Electron
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
