---
title: Thank You | Download Trial
section: try
header: false
footer: false
hide_from_sitemap: true
---

<div class="content-backdrop content-backdrop-sm bg-brand-darker">
</div>

<section class="section mt-lg-5 pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body text-center">
            <header class="text-center">
              <a href="/">
                <img src="/images/shared/pspdfkit.png" alt="PSPDFKit" width="60" class="mb-3">
              </a>
              <h1>
                Thank You
              </h1>
              <p class="lead">
                You will receive a confirmation email shortly.
              </p>
              <p class="lead">
                In order to receive your evaluation license and download PSPDFKit,
                please <strong>follow the link in the confirmation email</strong>.
              </p>
              <hr>
              <p class="text-muted mb-0">
                Didn't receive an email?<br>
                Please contact us at <a href="mailto:sales@pspdfkit.com">sales@pspdfkit.com</a>.
              </p>
              <hr>
              <p class="small text-muted mb-2">
                The data you submit is treated confidentially and will never be disclosed to third parties. We may occasionally send you product news and important announcements.
              </p>
              <p class="small text-muted mb-2">
                By downloading and evaluating the trial, you accept the terms of the <a href="/legal/license/">evaluation license agreement</a>.
              </p>
              <p class="small text-muted mb-2">
                This site is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                <a href="https://policies.google.com/terms">Terms of Service</a> apply.
              </p>
            </header>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Google Ads "Try Now Form" Conversion Event -->
<script>
  if (window.trackAnalytics) {
    gtag('event', 'conversion', {'send_to': 'AW-997021714/c4T8CKX1524QkrC12wM'});
  }
</script>
