<div class="container" id="brand">
  <h2 class="mb-5">Branding</h2>

  <!-- Logo -->
  <div class="row mb-5">
    <div class="col-3">
      <label class="text-muted">Logo</label>
    </div>
    <div class="col-1">
      <img src="/images/shared/pspdfkit.png" alt="PSPDFKit" width="80">
    </div>
  </div>

  <!-- Colors -->
  <div class="row mb-3">
    <div class="col-3">
      <label class="text-muted">Colors</label>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3">
      &nbsp;
    </div>
    <% %w(brand brand-light brand-lighter brand-dark brand-darker).each do |c| %>
      <div class="col-1 text-center">
        <div class="swatch bg-<%= c %> sh-1" title="<%= c %>" data-toggle="tooltip"></div>
      </div>
    <% end %>
  </div>
  <% %w(brand).each do |t| %>
    <div class="row mb-3">
      <div class="col-3">
        &nbsp;
      </div>
      <% %w(white neutral neutral-dark neutral-darker gray gray-dark gray-light).each do |c| %>
        <div class="col-1 text-center">
          <div class="swatch bg-<%= c %> sh-1" title="<%= c %>" data-toggle="tooltip"></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<hr/>
