<div class="container" id="code">
  <h2 class="mb-5">Code</h2>
  <div class="row mb-5">
    <div class="col-3">
      <label class="text-muted">Inline</label>
    </div>
    <div class="col-9">
      <%= partial "styleguide/code/inline" %>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-3">
      <label class="text-muted">Block</label>
    </div>
    <div class="col-9">
      <%= partial "styleguide/code/block" %>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-3">
      <label class="text-muted">Switcher</label>
    </div>
    <div class="col-9">
      <%= partial "styleguide/code/switcher" %>
    </div>
  </div>
</div>
<hr/>
