<div id="components">
  <div class="container">
    <h2>Components</h2>
    <div class="row my-5">
      <div class="col-3">
        <label class="text-muted">Card</label>
      </div>
      <div class="col-9">
        <div class="card card-hoverable w-75">
          <div class="card-body">
            <header>
              <h6 class="text-brand">Card Subtitle</h6>
              <h3>Card Title</h3>
            </header>
            <p class="card-text">
              Card body is designed to seamlessly fit into the project you're working on.
              Give your users the ability to beautifully display and intuitively
              annotate documents on any device no matter where they are.
            </p>
            <a href="#" class="card-link btn btn-brand">Primary</a>
            <a href="#" class="card-link btn btn-outline-brand">Outline</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr/>
