<div class="container" id="devices">
  <h2 class="mb-5">Devices</h2>
  <div class="row mb-5">
    <div class="col-3">
      <label class="text-muted">Mobile</label>
    </div>
    <div class="col-3 text-center">
      <% partial 'shared/device_phone_ios' do %>
        <img src="//placehold.it/750x1334" class="img-fluid" />
      <% end %>
      <label class="small text-muted">iOS Phone (iPhone 7)</label>
    </div>
    <div class="col-3 ml-5 text-center">
      <% partial 'shared/device_phone_android' do %>
        <img src="//placehold.it/1080x1920" class="img-fluid" />
      <% end %>
      <label class="small text-muted">Android Phone (Pixel)</label>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-3">
      <label class="text-muted">Browser</label><br/>
    </div>
    <div class="col-7 text-center">
      <% partial 'shared/device_browser' do %>
        <img src="//placehold.it/1024x768" class="img-fluid" />
      <% end %>
    </div>
  </div>
</div>
<hr/>
