<div class="container" id="forms">
  <h2>Forms</h2>
  <div class="row mb-5">
    <div class="col-3">
      <label class="text-muted"></label>
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success</strong> Something good happened.
          </div>
          <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Info</strong> This needs your attention, but it's not super important.
          </div>
          <div class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Warning</strong> This is important and you should read it.
          </div>
          <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Danger</strong> Some kind of error occurred.
          </div>
          <form class="pt-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Disabled input</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Disabled" disabled>
            </div>
            <div class="form-group">
              <label for="exampleSelect1">Example select</label>
              <select class="form-control" id="exampleSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleTextarea">Example textarea</label>
              <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div class="form-group has-success">
              <label class="form-control-label" for="inputSuccess1">Input with success</label>
              <input type="text" class="form-control form-control-success" id="inputSuccess1">
              <div class="form-control-feedback">Success! You've done it.</div>
              <small class="form-text text-muted">Example help text that remains unchanged.</small>
            </div>
            <div class="form-group has-warning">
              <label class="form-control-label" for="inputWarning1">Input with warning</label>
              <input type="text" class="form-control form-control-warning" id="inputWarning1">
              <div class="form-control-feedback">Shucks, check the formatting of that and try again.</div>
              <small class="form-text text-muted">Example help text that remains unchanged.</small>
            </div>
            <div class="form-group has-danger">
              <label class="form-control-label" for="inputDanger1">Input with danger</label>
              <input type="text" class="form-control form-control-danger" id="inputDanger1">
              <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
              <small class="form-text text-muted">Example help text that remains unchanged.</small>
            </div>
            <fieldset class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                  Option one is this and that&mdash;be sure to include why it's great
                </label>
              </div>
              <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                  Option two can be something else and selecting it will deselect option one
                </label>
              </div>
              <div class="form-check disabled">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                  Option three is disabled
                </label>
              </div>
            </fieldset>
            <fieldset class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  Option one is this and that&mdash;be sure to include why it's great
                </label>
              </div>
              <div class="form-check disabled">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" disabled>
                  Option two is disabled
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  Check me out
                </label>
              </div>
            </fieldset>
            <button type="submit" class="btn btn-brand">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<hr/>
