<div class="container" id="icons">
  <h2 class="mb-5">Icons</h2>
  <div class="row mb-5">
    <div class="col-3">
      <label class="text-muted">Products</label>
    </div>
    <div class="col-8">
      <% icons = %w(
        pspdfkit ios android web windows macos server instant appcelerator
        cordova xamarin react electron
      ) %>
      <% icons.each do |i| %>
        <i class="fa fa-lg fa-<%= i %> mr-4 mb-4" title="<%= i %>" data-toggle="tooltip"></i>
      <% end %>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-3">
      <label class="text-muted">General</label>
    </div>
    <div class="col-7">
      <% icons = %w(
        arrow-left arrow-right chevron-left chevron-right caret-down bars mail
        check times check-circle link twitter facebook linkedin github chrome
        safari firefox edge help-circle exit docs blog
      ) %>
      <% icons.each do |i| %>
        <i class="fa fa-lg fa-<%= i %> mr-4 mb-4" title="<%= i %>" data-toggle="tooltip"></i>
      <% end %>
    </div>
  </div>
</div>
<hr/>
