<div class="container" id="type">
  <h2 class="mb-5">Typography</h2>
  <div class="row">
    <div class="col-3 mb-5">
      <label class="text-muted">Header 1</label>
    </div>
    <div class="col-9">
      <h1 class="my-0 py-0">The Life and Times of a PDF</h1>
    </div>
    <div class="col-3 mb-5">
      <label class="text-muted">Header 2</label>
    </div>
    <div class="col-9">
      <h2 class="my-0 py-0">The Life and Times of a PDF</h2>
    </div>
    <div class="col-3 mb-5">
      <label class="text-muted">Header 3</label>
    </div>
    <div class="col-9">
      <h3 class="my-0 py-0">The Life and Times of a PDF</h3>
    </div>
    <div class="col-3 mb-5">
      <label class="text-muted">Header 4</label>
    </div>
    <div class="col-9">
      <h4 class="my-0 py-0">The Life and Times of a PDF</h4>
    </div>
    <div class="col-3 mb-5">
      <label class="text-muted">Header 5</label>
    </div>
    <div class="col-9">
      <h5 class="my-0 py-0">The Life and Times of a PDF</h5>
    </div>
    <div class="col-3 mb-5">
      <label class="text-muted">Header 6</label>
    </div>
    <div class="col-9">
      <h6 class="my-0 py-0">The Life and Times of a PDF</h6>
    </div>
    <div class="col-3 mb-5">
      <label class="text-muted">Lead Paragraph</label>
    </div>
    <div class="col-9">
      <p class="lead">
        Another fascinating WWDC is behind us. This year we again witnessed a whole host of newly presented features and refinements to the Swift language.
      </p>
    </div>
    <div class="col-3 mb-5">
      <label class="text-muted">Paragraph</label>
    </div>
    <div class="col-9">
      <p>
        Another fascinating WWDC is behind us. This year we again witnessed a whole host of newly presented features and refinements to the Swift language, now <mark>highlighted</mark> already in <em>italicized</em> its fourth installment. It's great to see how the language has progressed over the last couple years. Unfortunately, since binary <del>deleted</del> compatibility has been delayed further (at least there's a <a href="https://github.com/apple/swift/blob/master/docs/ABIStabilityManifesto.md">link</a> now), and module stability is <strong>bold</strong> still even further away, we are unable to use Swift in our binary PSPDFKit SDK. However, we do use it for our <abbr title="HyperText Markup Language">HTML</abbr> tests and in PDF Viewer.
      </p>
    </div>
    <div class="col-3 mb-5">
      <label class="text-muted">Bullet list</label>
    </div>
    <div class="col-9">
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Nulla volutpat aliquam velit
          <ul>
            <li>Phasellus iaculis neque</li>
            <li>Ac tristique libero volutpat at</li>
          </ul>
        </li>
        <li>Faucibus porta lacus fringilla vel</li>
        <li>Aenean sit amet erat nunc</li>
      </ul>
    </div>
    <div class="col-3 mb-5">
      <label class="text-muted">Quote</label>
    </div>
    <div class="col-9">
      <blockquote class="blockquote">
        <p>
          This year we again witnessed a whole host of newly presented features and refinements to the Swift language, now already in its fourth installment.
        </p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
    <div class="col-3 mb-5">
      <label class="text-muted">Muted text</label>
    </div>
    <div class="col-9">
      <p class="text-muted">
        This year we again witnessed a whole host of newly presented features and refinements to the Swift language, now already in its fourth installment.
      </p>
    </div>
    <div class="col-3 mb-5">
      <label class="text-muted">Small text</label>
    </div>
    <div class="col-9">
      <p><small>This line of text is meant to be treated as fine print lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></p>
    </div>
    <div class="col-3 mb-5">
      <label class="text-muted">Badges</label>
    </div>
    <div class="col-9">
      <span class="badge badge-pill badge-primary">Primary</span>
      <span class="badge badge-pill badge-secondary">Secondary</span>
      <span class="badge badge-pill badge-success">Success</span>
      <span class="badge badge-pill badge-info">Info</span>
      <span class="badge badge-pill badge-warning">Warning</span>
      <span class="badge badge-pill badge-danger">Danger</span>
    </div>
  </div>
</div>
<hr/>
