<hr class="my-5">
<section id="cross-platform">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="row flex-md-row-reverse align-items-center justify-content-center">
          <div class="col-lg-6 ml-auto mb-4 mb-lg-0 text-lg-right">
            <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/electron/cross-platform.png" class="img-fluid lazyload" loading="lazy" alt="PSPDFKit for Electron runs on macOS, Windows, and Linux">
          </div>
          <div class="col-lg-6">
            <h3><%= title %></h3>
            <p class="mb-0">
              <%= body %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="my-5">
