---
title: Redaction
title_suffix: PSPDFKit PDF SDK
section: sdk
---

<%= partial 'shared/nav_sub' %>

<!-- Hero -->
<section class="pb-3 overflow-hidden">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="d-flex flex-column flex-lg-row">
          <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/redaction/hero-mobile.png" class="img-fluid lazyload d-lg-none" loading="lazy">
          <div class="d-flex mr-2">
            <div class="bg-white sh-1 sq-80 rounded-app">
              <img src="/images/shared/placeholder.gif" data-src="/images/icons/redaction.svg" height="60" class="lazyload" loading="lazy" loading="lazy">
            </div>
          </div>
          <div class="ml-lg-4">
            <h1 class="mt-3">
              Redaction
            </h1>
            <p>
              The Redaction component enables secure and irrecoverable removal of sensitive, confidential, or privileged information from PDF documents.
            </p>
            <p>
              Users can select regions or search for the text they want to remove, send the unapplied changes to other stakeholders for feedback, and apply the changes, thereby permanently removing the redacted information from the document. Our API allows for complete control over redaction as well.
            </p>
            <p>
              The Redaction component is useful for removing data not authorized for public disclosure — such as personally identifiable information — in response to requests made under e.g. the GDPR, FOIA, or DPA. It aids in e-disclosure, e-discovery, and due diligence processes and when sharing information through data rooms.
            </p>
            <p>
              <a href="#video" class="btn btn-brand px-5">
                <small>SEE IT IN ACTION!</small>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-5 d-none d-lg-block">
        <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/redaction/hero-desktop.png" width="808" class="lazyload" loading="lazy">
      </div>
    </div>
  </div>
</section>

<!-- How it works -->
<section class="mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="row mb-5">
          <div class="col-md-7">
            <h2>
              How It Works
            </h2>
            <p class="medium">
              Redaction in PDF is a two-step process that involves first marking up the content you want to remove with redaction annotations, and then processing the PDF in a way that permanently removes (not masks) the marked-up regions. The Redaction component also enables users to customize and comment on the redaction annotations before they’re applied.
            </p>
            <div class="d-flex flex-column flex-sm-row align-items-center">
              <span class="medium mr-3">
                See how it looks on:
              </span>
              <div class="btn-group btn-group-sm" data-controller="platform-switcher">
                <button type="button" class="btn btn-outline-brand active" data-action="click->platform-switcher#change" data-target="ios">iOS</button>
                <button type="button" class="btn btn-outline-brand" data-action="click->platform-switcher#change" data-target="android">Android</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center mb-5">
          <div class="col-md-5">
            <h4 class="badge badge-brand mb-4">Step 1</h4>
            <h3 class="mb-1">Select Content to Redact</h3>
            <p class="medium">
              Select the information to be removed from the document. The user can do this manually, or you can use the API to find all data matching a specific pattern, such as credit card numbers, social security numbers, or email addresses.
            </p>
          </div>
          <div class="col-md-7">
            <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/redaction/how-it-works-step-1-ios.png" class="img-fluid lazyload" loading="lazy" data-platform="ios">
            <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/redaction/how-it-works-step-1-android.png" class="img-fluid lazyload hidden" loading="lazy" data-platform="android">
          </div>
        </div>
        <div class="row align-items-center flex-row-reverse mb-5">
          <div class="col-md-5">
            <h4 class="badge badge-brand mb-4">Step 2</h4>
            <h3 class="mb-1">Adjust the Style</h3>
            <p class="medium">
              By default, redactions appear as a black box, but they can be fully customized with options for color and replacement text.
            </p>
          </div>
          <div class="col-md-7">
            <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/redaction/how-it-works-step-2-ios.png" class="img-fluid lazyload" loading="lazy" data-platform="ios">
            <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/redaction/how-it-works-step-2-android.png" class="img-fluid lazyload hidden" loading="lazy" data-platform="android">
          </div>
        </div>
        <div class="row align-items-center mb-5">
          <div class="col-md-5">
            <h4 class="badge badge-brand mb-4">Step 3</h4>
            <h3 class="mb-1">Comment and Approve</h3>
            <p class="medium">
              Before changes are applied, the redaction annotations can optionally be commented on and sent to other stakeholders using the <a href="/pdf-sdk/ios/replies" data-platform="ios" class="link-orange">Replies component</a> <a href="/pdf-sdk/android/replies" data-platform="android" class="link-orange hidden">Replies component</a> (if licensed).
            </p>
          </div>
          <div class="col-md-7">
            <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/redaction/how-it-works-step-3-ios.png" class="img-fluid lazyload" loading="lazy" data-platform="ios">
            <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/redaction/how-it-works-step-3-android.png" class="img-fluid lazyload hidden" loading="lazy" data-platform="android">
          </div>
        </div>
        <div class="row align-items-center flex-row-reverse mb-5">
          <div class="col-md-5">
            <h4 class="badge badge-brand mb-4">Step 4</h4>
            <h3 class="mb-1">Commit Redaction</h3>
            <p class="medium">
              By applying the changes, the redacted data will be permanently and securely removed from the document.
            </p>
          </div>
          <div class="col-md-7">
            <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/redaction/how-it-works-step-4-ios.png" class="img-fluid lazyload" loading="lazy" data-platform="ios">
            <img src="/images/shared/placeholder.gif" data-src="/images/pdf-sdk/redaction/how-it-works-step-4-android.png" class="img-fluid lazyload hidden" loading="lazy" data-platform="android">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Documentation -->
<%= partial 'shared/product_documentation', locals: {
  title: 'Redaction',
  urls: {
    ios: '/guides/ios/current/features/redaction/',
    android: '/guides/android/current/features/redaction/',
  }
} %>

<!-- Video -->
<section id="video" class="py-lg-5" >
  <div class="container">
    <div class="text-center mb-4">
      <h2 class="mb-4">
        See It in Action
      </h2>
      <div class="btn-group btn-group-sm mt-1 mb-3" data-controller="platform-switcher">
        <button type="button" class="btn btn-outline-brand active" data-action="click->platform-switcher#change" data-target="ios">iOS</button>
        <button type="button" class="btn btn-outline-brand" data-action="click->platform-switcher#change" data-target="android">Android</button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 mb-5">
        <div class="video-player rounded sh-3" data-platform="ios">
          <video src="/images/pdf-sdk/redaction/video-ios.mp4" poster="/images/pdf-sdk/redaction/video-ios.png" muted playsinline preload width="100%" data-controller="video"></video>
        </div>
        <div class="video-player rounded sh-3 hidden" data-platform="android">
          <video src="/images/pdf-sdk/redaction/video-android.mp4" poster="/images/pdf-sdk/redaction/video-android.png" muted playsinline preload width="100%" data-controller="video"></video>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Features -->
<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="h4">
          Features
        </h2>
        <ul class="list-unstyled mb-0">
          <li class="border-top p-2 d-flex">
            <i class="fa fa-check text-brand mt-1 mr-3"></i>
            <span class="medium">
              Prebuilt UI for selecting, customizing, and applying redactions.
            </span>
          </li>
          <li class="border-top p-2 d-flex">
            <i class="fa fa-check text-brand mt-1 mr-3"></i>
            <span class="medium">
              Complete control over creating and applying redactions through the API.
            </span>
          </li>
          <li class="border-top p-2 d-flex">
            <i class="fa fa-check text-brand mt-1 mr-3"></i>
            <span class="medium">
              Customization of the appearance of redactions, including fill color, text color, and overlay text.
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2 class="h4">
          Users can
        </h2>
        <ul class="list-unstyled mb-0">
          <li class="border-top p-2 d-flex">
            <i class="fa fa-check text-brand mt-1 mr-3"></i>
            <span class="medium">
              ...choose redaction regions through text selection.
            </span>
          </li>
          <li class="border-top p-2 d-flex">
            <i class="fa fa-check text-brand mt-1 mr-3"></i>
            <span class="medium">
              ...redact areas on a page, including parts of images.
            </span>
          </li>
          <li class="border-top p-2 d-flex">
            <i class="fa fa-check text-brand mt-1 mr-3"></i>
            <span class="medium">
              ...quickly redact many regions using the dedicated redaction tool.
            </span>
          </li>
          <li class="border-top p-2 d-flex">
            <i class="fa fa-check text-brand mt-1 mr-3"></i>
            <span class="medium">
              ...toggle between outline and preview modes to easily see what is being redacted.
            </span>
          </li>
          <li class="border-top p-2 d-flex">
            <i class="fa fa-check text-brand mt-1 mr-3"></i>
            <span class="medium">
              ...edit redaction annotations that are not yet applied.
            </span>
          </li>
          <li class="border-top p-2 d-flex">
            <i class="fa fa-check text-brand mt-1 mr-3"></i>
            <span class="medium">
              ...clearly see when there are unsaved redactions via the status indicator.
            </span>
          </li>
          <li class="border-top p-2 d-flex">
            <i class="fa fa-check text-brand mt-1 mr-3"></i>
            <span class="medium">
              ...apply redactions with one tap.
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Trial CTA -->
<%= partial 'shared/cta_try', locals: { title: 'PSPDFKit' } %>
