<div class="container">
  <div class="row flex-md-row-reverse justify-content-center align-items-center text-center">
    <div class="col-lg-9">
      <a class="nav-brand" href="/">
        <img src="/images/shared/placeholder.gif" data-src="/images/shared/pspdfkit.png" alt="PSPDFKit" width="50" height="50" class="lazyload" loading="lazy">
      </a>
      <h1>
        <%= title %>
      </h1>
      <p class="lead">
        <%= body %>
      </p>
    </div>
  </div>
</div>
