<section id="advantages" class="py-5">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-md-10 text-center">
        <header>
          <h6 class="text-brand"><%= subtitle %></h6>
          <h2><%= title %></h2>
        </header>
        <p><%= body %></p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <table class="table table-neutral mb-5">
          <colgroup>
            <col />
            <col span="2" class="table-col-focus" />
          </colgroup>
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th colspan="2">
                Advantages
              </th>
            </tr>
          </thead>
          <tbody>
              <th scope="row">Rendering</th>
              <td><i class="fa fa-lg fa-check text-brand"></i></td>
              <td>
                <a href="https://pspdfkit.com/guides/ios/current/troubleshooting/complexities-of-rendering-pdfs/" class="link-brand">Advanced rendering, CMYK color space support, night mode</a>
              </td>
            </tr>
            <tr>
              <th scope="row">Search</th>
              <td><i class="fa fa-lg fa-check text-brand"></i></td>
              <td>
                <a href="https://pspdfkit.com/guides/ios/current/features/indexed-full-text-search/" class="link-brand">Indexed full-text search</a>
              </td>
            </tr>
            <tr>
              <th scope="row">Annotations</th>
              <td><i class="fa fa-lg fa-check text-brand"></i></td>
              <td>
                <a href="https://pspdfkit.com/guides/ios/current/annotations/introduction-to-annotations/" class="link-brand">
                  Supports all annotations defined in the PDF specification
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">Bookmarks</th>
              <td><i class="fa fa-lg fa-check text-brand"></i></td>
              <td>
                <a href="https://pspdfkit.com/guides/ios/current/miscellaneous/bookmarks/" class="link-brand">
                  Add, remove, sort, and save bookmarks
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">Form filling</th>
              <td><i class="fa fa-lg fa-check text-brand"></i></td>
              <td>
                <a href="https://pspdfkit.com/guides/ios/current/forms/form-filling/" class="link-brand">
                  Programmatically fill out forms
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">Embedded files</th>
              <td><i class="fa fa-lg fa-check text-brand"></i></td>
              <td>
                <a href="https://pspdfkit.com/guides/ios/current/features/detailed-list/#pdf-metadata" class="link-brand">
                  Access files embedded in documents
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">Watermarks</th>
              <td><i class="fa fa-lg fa-check text-brand"></i></td>
              <td>
                <a href="https://pspdfkit.com/guides/ios/current/features/document-processing/#adding-watermarks" class="link-brand">
                  Add watermarks to documents
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">Flatten annotations</th>
              <td><i class="fa fa-lg fa-check text-brand"></i></td>
              <td>
                <a href="https://pspdfkit.com/guides/ios/current/features/document-processing/#annotation-flattening" class="link-brand">
                  Flatten annotations into the document
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">Import/export</th>
              <td><i class="fa fa-lg fa-check text-brand"></i></td>
              <td>
                <a href="https://pspdfkit.com/guides/ios/current/annotations/exporting-toimporting-from-json" class="link-brand">
                  Import/export annotations in JSON and XDF formats
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">Custom data sources</th>
              <td><i class="fa fa-lg fa-check text-brand"></i></td>
              <td>
                <a href="https://pspdfkit.com/guides/ios/current/features/data-providers/" class="link-brand">
                  Load files from custom sources, with on-the-fly decryption
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">Cross-platform</th>
              <td><i class="fa fa-lg fa-check text-brand"></i></td>
              <td>
                <a href="/pdf-sdk/" class="link-brand">
                  Available on multiple platforms
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">Development</th>
              <td><i class="fa fa-lg fa-check text-brand"></i></td>
              <td>
                <a href="/changelog/macos/" class="link-brand">
                  Constantly improving with new features
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">Support</th>
              <td><i class="fa fa-lg fa-check text-brand"></i></td>
              <td>
                <a href="/support/request/" class="link-brand">
                  Support directly from the engineers
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
